.maisInfo, .maisInfo2 {
    cursor:cell;
    border: none;
    background: none;
    margin: 8px 0 0 0;
    padding: 0 4px;
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
    scale: 1;
    opacity: 1;
    max-width: fit-content;
    max-height: 500px;
    text-shadow: 0 0 1px white;
    transition: margin var(--transicao-link), max-width 1s, max-height var(--transicao-link), text-shadow var(--transicao-link), opacity var(--transicao-link), scale var(--transicao-link);
}
.maisInfo:hover, .maisInfo2:hover {
    text-shadow: 0 0 5px white;
}
.maisInfo.nh:hover, .maisInfo2.nh:hover {
    text-shadow: 0 0 1px white;
}
.maisInfo.minimizado, .maisInfo2.minimizado {
    padding: 0 0 4px 4px;
}

.resumoResultados, .resumoResultados2, .resumoErroInfo {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity var(--transicao-link), margin-bottom var(--transicao-link), padding var(--transicao-link), max-height var(--transicao-link);
}
.resumoErroInfo {
    max-height: 500px;
    transition: max-height var(--transicao-link-2) ease-out;
}
.resumoResultados {
    max-height: 125px;
}
.resumoResultados2 {
    max-height: 242px;
}
.resumoResultados2.large {
    max-height: 342px;
}
.resumoResultados.collapsed, .resumoResultados2.collapsed, .resumoErroInfo.collapsed {
    opacity: 0;
    padding: 0;
    margin-bottom: 0;
    max-height: 0;
    transition: max-height var(--transicao-link);
}
.telaDadoConteudo, .telaResumoConteudo, .telaErroInfo {
    overflow-y: auto;
    overflow-x: hidden;
}
.telaDadoConteudo {
    max-height: 36px;
}
.telaResumoConteudo {
    max-height: 143px;
    transition: max-height var(--transicao-link);
}
.telaResumoConteudo.large {
    max-height: 248px;
}

.content {
    font-size: 0.8em;
    padding: 0;
    opacity: 0;
    max-height: 0;
    transition: padding var(--transicao-link-2), opacity var(--transicao-link-2), max-width var(--transicao-link-2), max-height var(--transicao-link-2),
                color var(--transicao-link-2), text-shadow var(--transicao-link-2);
}
.content:not(:empty) {
    max-height: 200px;
    padding: 3px;
    opacity: 1;
}

#decoracao {
    position: absolute;
    overflow: visible;
    z-index: -1000;
    top: 5px;
    right: 20px;
    width: 80px;
    height: auto;
    opacity: 0.2;
    transition: var(--transicao-link);
}

.rectangle.enter.medium #decoracao {
    top: 10px;
    width: 120px;
}
.rectangle.enter.large #decoracao {
    top: 15px;
    width: 150px;
}
