/* Estilizando a barra de rolagem */
.telaResumo::-webkit-scrollbar {
    width: 4px; /* Largura da barra de rolagem */
}
.telaResumo::-webkit-scrollbar-track {
    background: transparent; /* Cor do fundo da barra de rolagem */
}
.telaResumo::-webkit-scrollbar-thumb {
    background-color: #dbdbdbb9; /* Cor da barra de rolagem */
    border-radius: 6px; /* Arredondamento das bordas */
    border: none; /* Espaçamento entre a barra e o conteúdo */
    transition: var(--transicao-link);
}
.telaResumo::-webkit-scrollbar-thumb:hover {
    background: var(--cor-destaque);
    border: none;
}
/* Buttons */
.telaResumo::-webkit-scrollbar-button:single-button {
    background-color: transparent;
    display: block;
    border-style: solid;
    height: 15px;
    width: 4px;
}
/* Up */
.telaResumo::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 2px 8px 2px;
    border-color: transparent transparent #dbdbdbb9 transparent;
}

.telaResumo::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent var(--cor-destaque) transparent;
}
/* Down */
.telaResumo::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 2px 0 2px ;
    border-color: #dbdbdbb9 transparent transparent transparent;
}
.telaResumo::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: var(--cor-destaque) transparent transparent transparent;
}

.sortable-ghost {
    background: transparent !important;
    box-shadow: var(--direcao-sombra-1) var(--direcao-sombra-1) 9px var(--sombra-clara),
                var(--direcao-sombra-2) var(--direcao-sombra-2) 9px var(--sombra-escura) !important;
    backdrop-filter: blur(var(--blur)) !important;
    color: gray !important;
    border: var(--borda-card) solid var(--sombra-escura) !important;
    text-shadow: none !important;
}
.sortable-ghost .alerta, 
.sortable-ghost .botaoFixar,
.sortable-ghost .botaoFechar,
.sortable-ghost .maisInfo,
.sortable-ghost .maisInfo2 {
    color: var(--sombra-2) !important;
    text-shadow: none !important;
}

.rotinas {
    padding: 80px 12px 90px 12px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100%;
    flex-wrap: wrap;
    transition: height var(--transicao-link), padding var(--transicao-link);
}
.rotinasExpandida {
    padding: 160px 12px 90px 12px;
}
.rectangle {
    color: white;
    border-radius: 20px;
    max-width: 0;
    max-height: 0;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    scale: 0;
    overflow: hidden;
    transition: var(--transicao-link);
}
.rectangle.enter {
    max-width: 275px;
    max-height: 550px;
    padding: 10px;
    margin: 15px;
    opacity: 1;
    scale: 1;
    overflow: hidden;
}
.rectangle.out {
    max-width: 0 !important;
    max-height: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    opacity: 0 !important;
    scale: 0 !important;
}
.rectangle:hover{
    text-shadow: 0 0 10px black;
}
.rectangle.collapsed {
    line-height: normal;
    font-size: 0;
    max-width: 30px;
    max-height: 30px;
    border-radius: 12px;
    padding: 0;
    margin: 10px;
}
.rectangle.collapsed #decoracao,
.rectangle.collapsed .botaoFixar,
.rectangle.collapsed .botaoFechar,
.rectangle.collapsed .porcentagem,
.rectangle.collapsed .maisInfo,
.rectangle.collapsed .maisInfo2,
.rectangle.collapsed .content,
.rectangle.collapsed .titulo,
.rectangle.collapsed #media {
    opacity: 0;
    scale: 0;
}

.cabecalhoCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titulo {
    font-weight: 600;
    font-size: 1em;
    padding: 4px;
    opacity: 1;
    margin-bottom: 6px;
}
.progresso {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6px;
}
#porcentagem {
    position: relative; /* Para posicionar a barra interna */
    width: 48px;
    height: 5px;
    margin-right: 5px;
    overflow: hidden; /* Garante que a barra interna não ultrapasse os limites */
}

/* Estilização da barra de carregamento */
#porcentagem .barraLoading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* Preenche a altura total da div */
    background-color: var(--cor-loading);
    transition: width 0.5s ease-in-out; /* Transição suave ao aumentar */
}
/* Texto da porcentagem */
#porcentagem .textoPorcentagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    z-index: 2; /* Mantém o texto acima da barra */
}

.botaoFechar, .botaoFixar {
    border-radius: 20px;
    background-color: transparent;
    margin-left: 4px;
    padding: 4px 6px;
    width: fit-content;
    height: fit-content;
    color: white;
    text-shadow: 0 0 1px white;
    transition: color var(--transicao-link), tex-shadow var(--transicao-link), background-color var(--transicao-link);
}
.botaoFechar:hover, .botaoFixar:hover {
    background-color: white;
    text-shadow: 0 0 10px black;
}
.botaoFixar:hover {
    color: black;
}
.botaoFechar:hover {
    color: red;
}
.botaoFixado {
    text-shadow: 0 0 5px white,
                 0 0 7px white;
}

.maisInfo, .maisInfo2 {
    cursor:cell;
    border: none;
    background: none;
    padding: 8px 0;
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    scale: 1;
    max-width: fit-content;
    max-height: 500px;
    text-shadow: 0 0 1px white;
    transition: padding var(--transicao-link), max-width 1s, max-height var(--transicao-link), text-shadow var(--transicao-link);
}
.maisInfo:hover, .maisInfo2:hover {
    text-shadow: 0 0 5px white;
}
.resumoResultados, .resumoResultados2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 1;
    transition: opacity var(--transicao-link), margin-bottom var(--transicao-link), padding var(--transicao-link), max-height var(--transicao-link);
}
.resumoResultados {
    max-height: 150px;
}
.resumoResultados2 {
    max-height: 250px;
}
.resumoResultados.collapsed, .resumoResultados2.collapsed {
    opacity: 0;
    padding: 0;
    margin-bottom: 0;
    max-height: 0;
}
.telaResumo {
    overflow: auto;
    max-height: 250px;
}

.content {
    font-size: 0.8em;
    padding: 0;
    opacity: 0;
    max-width: 300px;
    max-height: 0;
    transition: padding var(--transicao-link), opacity var(--transicao-link), max-width var(--transicao-link), max-height var(--transicao-link),
                color var(--transicao-link), text-shadow var(--transicao-link);
}
.content:not(:empty) {
    max-height: 200px;
    padding: 3px;
    opacity: 1;
}
.alerta {
    z-index: -1;
    position: absolute;
    top: 4rem;
    right: 0;
    font-size: 7rem;
    font-weight: 600;
    transition: var(--transicao-link);
}

#decoracao {
    position: absolute;
    overflow: visible;
    z-index: 1000;
    top: 52px;
    right: 27px;
    width: 45px;
    height: auto;
    transition: var(--transicao-link);
}
#decoracao:hover {
    scale: 1.2;
}


@media (max-width: 720px) {
    .rotinas {
        padding: 80px 0 90px 0;
    }
    .botaoFechar {
        font-size: large;
    }

    .botaoFechar:hover, .botaoFixar:hover {
        background-color: transparent;
        text-shadow: 0 0 0 transparent;
        color: white;
    }
    .botaoFechar:active, .botaoFixar:active {
        background-color: white;
        text-shadow: 0 0 10px black;
    }
    .botaoFixar:active {
        color: black;
    }
    .botaoFechar:active {
        color: red;
    }
}