@keyframes piscar {
    0%, 100% {
        box-shadow: inset 0 0 80px var(--cor-principal),
                inset -1px -1px 1px var(--sombra-vidro-clara),
                inset 1px 1px 1px var(--sombra-vidro-clara),
                inset 1px -1px 1px var(--sombra-vidro-escura),
                inset -1px 1px 1px var(--sombra-vidro-escura),
                0 0 15px var(--cor-principal);
        border: var(--borda-card) solid var(--cor-principal);
    }
    50% {
        box-shadow: inset 0 0 20px var(--cor-opaca),
                inset -1px -1px 1px var(--sombra-vidro-clara),
                inset 1px 1px 1px var(--sombra-vidro-clara),
                inset 1px -1px 1px var(--sombra-vidro-escura),
                inset -1px 1px 1px var(--sombra-vidro-escura),
                var(--direcao-sombra-1) var(--direcao-sombra-1) 10px var(--cor-opaca),
                var(--direcao-sombra-2) var(--direcao-sombra-2) 10px var(--cor-opaca-2);
        border: var(--borda-card) solid var(--cor-opaca-2);
    }
}
@keyframes bounce {
    0%, 100% {
        scale: 1;
    }
    50% {
         scale: var(--escala-card);
    }
}

/* Estilos específicos para cada status */
.status-executando, .status-attention {
    --cor-primaria: #006345;
    --cor-secundaria: #003757;
    --cor-opaca: #4d927d5d;
    --cor-opaca-2: #00694a9a;
    --cor-loading-1: #00ffb350;
    --cor-loading-2: #00ffff93;
    --cor-principal: var(--cor-executando);
    --cor-alerta: var(--cor-opaca);
    --animacao: none;
}
.status-attention {
    --animacao: piscar 5s infinite;
}
.status-warning {
    --cor-primaria: #8a5300;
    --cor-secundaria: #923702;
    --cor-opaca: #af834257;
    --cor-opaca-2: #9c58008a;
    --cor-loading-1: #ffae008e;
    --cor-loading-2: #ffd000c5;
    --cor-principal: var(--cor-ocioso);
    --cor-alerta: var(--cor-ocioso);
    --animacao: piscar 3s infinite;
}
.status-error {
    --cor-primaria: #5c0000fb;
    --cor-secundaria: #640f64;
    --cor-opaca: #aa373750;
    --cor-opaca-2: #7900008e;
    --cor-loading-1: #e9000077;
    --cor-loading-2: #eb0091dc;
    --cor-principal: var(--cor-erro);
    --cor-alerta: var(--cor-erro);
    --animacao: piscar 1.5s infinite;
}
.status-final {
    --cor-primaria: #006a7cfd;
    --cor-secundaria: #5b27af;
    --cor-opaca: #3279a84d;
    --cor-opaca-2: #004d818e;
    --cor-principal: var(--cor-final);
    --cor-alerta: var(--cor-final);
    --animacao: piscar 8s infinite;
}

/* Estilos genéricos para todos os status */
.status {
    --cor-fundo-2: #a8a8a82d;
    box-shadow: inset 0 0 20px var(--cor-opaca),
                inset -1px -1px 1px var(--sombra-vidro-clara),
                inset 1px 1px 1px var(--sombra-vidro-clara),
                inset 1px -1px 1px var(--sombra-vidro-escura),
                inset -1px 1px 1px var(--sombra-vidro-escura),
                var(--direcao-sombra-1) var(--direcao-sombra-1) 10px var(--cor-opaca),
                var(--direcao-sombra-2) var(--direcao-sombra-2) 10px var(--cor-opaca-2);

    border: var(--borda-card) solid var(--cor-opaca-2);
    background: linear-gradient(50deg, var(--cor-primaria), var(--cor-secundaria));
    animation: var(--animacao);
}
.status:hover {
    scale: var(--escala-card);
    --cor-fundo-2: #2525252d;
    box-shadow: inset 0 0 80px var(--cor-principal),
                inset -1px -1px 1px var(--sombra-vidro-clara),
                inset 1px 1px 1px var(--sombra-vidro-clara),
                inset 1px -1px 1px var(--sombra-vidro-escura),
                inset -1px 1px 1px var(--sombra-vidro-escura),
                0 0 15px var(--cor-principal);
    border: var(--borda-card) solid var(--cor-principal);
    background: linear-gradient(50deg, var(--cor-secundaria), var(--cor-primaria));
    animation: none;
}
.status.nh {
    scale: 1;
    --cor-fundo-2: #a8a8a82d;
    box-shadow: inset 0 0 20px var(--cor-opaca),
                inset -1px -1px 1px var(--sombra-vidro-clara),
                inset 1px 1px 1px var(--sombra-vidro-clara),
                inset 1px -1px 1px var(--sombra-vidro-escura),
                inset -1px 1px 1px var(--sombra-vidro-escura),
                var(--direcao-sombra-1) var(--direcao-sombra-1) 10px var(--cor-opaca),
                var(--direcao-sombra-2) var(--direcao-sombra-2) 10px var(--cor-opaca-2);

    border: var(--borda-card) solid var(--cor-secundaria);
    background: linear-gradient(50deg, var(--cor-primaria), var(--cor-secundaria));
    animation: var(--animacao);
}

.buscaCard, .buscaCard:hover {
    animation: bounce 0.5s infinite !important;
    box-shadow: inset 0 0 150px var(--cor-principal),
                    0 0 30px var(--cor-principal) !important;
    border: 5px solid white !important;
}
.naoEncontrado {
    color: red;
    font-weight: bold;
}

@media (hover: none) {
    .status:hover {
        --cor-fundo-2: #a8a8a82d;
        box-shadow: inset 0 0 20px var(--cor-opaca),
                inset -1px -1px 1px var(--sombra-vidro-card-clara),
                inset 1px 1px 1px var(--sombra-vidro-card-clara),
                inset 1px -1px 1px var(--sombra-vidro-card-escura),
                inset -1px 1px 1px var(--sombra-vidro-card-escura),
                var(--direcao-sombra-1) var(--direcao-sombra-1) 10px var(--cor-opaca),
                var(--direcao-sombra-2) var(--direcao-sombra-2) 10px var(--cor-opaca-2);

        border: var(--borda-card) solid var(--cor-secundaria);
        background: linear-gradient(50deg, var(--cor-primaria), var(--cor-secundaria));
        animation: var(--animacao);
    }
}