.cabecalhoCard, .cabecalhoCardBotoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cabecalhoCard {
    padding: 0 2px;
}
.cabecalhoCardBotoes {
    justify-content: flex-start;
}

.dispositivo, .titulo  {
    font-weight: 600;
    font-size: 1em;
    padding:  4px 0 5px 0;
    opacity: 1;
    filter: blur(0);
    scale: 1;
    transition: var(--transicao-link) ease-in-out;
}
.titulo {
    white-space: nowrap;
}
.dispositivo {
    left: -50px;
    position: relative;
    margin-right: 0;
    opacity: 0;
    filter: blur(var(--blur-transition));
    max-width: 0;
}

.tituloContainer {
    margin: 0 5px 0 5px;
    overflow: hidden;
}
.tituloWrapper {
    position: relative; /* Torna o contêiner um contexto de posicionamento */
    width: 100vw; 
}
.titulo {
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    opacity: 1;
    scale: 1;
    transition: var(--transicao-link) ease-in-out;
}
.titulo span {
    display: inline-block;
    padding-left: 100%;
    animation: moveTitulo 40s linear infinite;
} 
.titulo2 span {
    animation-delay: -20s;
}
@keyframes moveTitulo {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
}

.botaoFechar, .botaoFixar, .botaoInfo {
    font-weight: 600;
    font-size: 0.8em;
    text-align: center;
    color: white;
    background: none;
    border: none;
    opacity: 1;
    filter: none;
    scale: 1;
    white-space: nowrap;
    border-radius: var(--borda-botao);
    height: 13px;
    transition: var(--transicao-link) ease-in-out;
}
.botaoFechar, .botaoInfo, .botaoFixar {
    padding: 4px 0 5px 0;
    width: 0;
    opacity: 0;
    filter: blur(var(--blur-transition));
}
.botaoFixado {
    opacity: 1;
    filter: none;
    width: 14px;
    padding:  4px 5px 5px 5px;
}
/* Mostra todo o cabeçalho no hover em telas de computador */
.rectangle:hover .botaoFechar, 
.rectangle:hover .botaoInfo,
.rectangle:hover .botaoFixar {
    width: 14px;
    padding: 4px 5px 5px 5px;
    opacity: 1;
    filter: none;
}
.rectangle:hover .dispositivo {
    left: 0;
    position: relative;
    padding:  4px 5px 5px 5px;
    margin-right: 3px;
    max-width: 50px;
    opacity: 1;
    filter: blur(0);
}
.rectangle:hover .tituloContainer {
    margin: 0 5px 0 0;
}
/* --------------------------------------- */
/* Mostra todo o cabeçalho em telas de toque */
.rectangle.nh .botaoFechar, 
.rectangle.status-error.nh .botaoInfo,
.rectangle.nh .botaoFixar {
    width: 14px;
    padding: 4px 5px 5px 5px;
    opacity: 1;
    filter: blur(0);
}
.rectangle.nh .dispositivo {
    left: 0;
    position: relative;
    padding:  4px 5px 5px 5px;
    margin-right: 3px;
    max-width: 50px;
    opacity: 1;
    filter: blur(0);
}
.rectangle.nh .tituloContainer {
    margin: 0 5px 0 0;
}
/* --------------------------------------- */
.botaoFixar:hover {
    text-shadow: 0 0 5px white;
}
.botaoFechar:hover, .botaoInfo:hover {
    text-shadow: 0 0 5px red;
    color: red;
}
.botaoFechar.nh:hover, .botaoFixar.nh:hover, .botaoInfo.nh:hover {
    background-color: transparent;
    text-shadow: 0 0 0 transparent;
    color: white;
}

.botaoFixado.nh:hover {
    text-shadow: 0 0 5px white,
                 0 0 7px white;
}

.botaoFixado {
    text-shadow: 0 0 5px white,
                 0 0 7px white;
    transform: rotate(72deg);
}
.rectangle.collapsed .botaoFixado {
    position: absolute;
    z-index: 9000;
    opacity: 1 !important;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    left: 68.5%;
    top: 25%;
}
.rectangle.collapsed .botaoFixado:hover {
    color: white;
    background: none;
}
.rectangle.collapsed .botaoFixar {
    position: absolute;
    opacity: 0;
}

.progresso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1px 4px;
    transition: var(--transicao-link) ease-in-out;
}
#mensagemAlerta {
    max-height: 30px;
    margin: 0 3px;
    overflow: auto;
}
.porcentagem {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 3px;
    border-radius: var(--borda-botao);
    transition: var(--transicao-link) ease-in-out;
}
.porcentagem.pulse {
    background: var(--cor-loading-2);
    align-self: center;
    height: 1px;
    margin: 1px;
    animation: pulsar 5s infinite;
}

/* Estilização da barra de carregamento */
.barraLoading {
    position: relative;
    height: 100%;
    background: linear-gradient(50deg, var(--cor-loading-1), var(--cor-loading-2));
    border-right: var(--cor-loading-2) 3px;
    border-radius: var(--borda-botao);
    transition: 0.5s ease-in-out; /* Transição suave ao aumentar */
}
.bolinhaLoading {
    position: absolute;
    background-color: var(--cor-loading-2);
    box-shadow: inset 0 0 4px var(--cor-loading-2),
                inset 0 0 5px var(--cor-loading-2),
                inset 0 0 6px var(--cor-loading-2),
                inset 0 0 4px var(--cor-loading-2),
                0 0 5px var(--cor-loading-2),
                0 0 6px var(--cor-loading-2),
                0 0 7px var(--cor-loading-2),
                0 0 8px var(--cor-loading-2),
                0 0 5px var(--cor-loading-2),
                0 0 6px var(--cor-loading-2),
                0 0 7px var(--cor-loading-2),
                0 0 8px var(--cor-loading-2);
    width: 3px;
    height: 3px;
    border-radius: 100%;
    transition: 0.5s ease-in-out; /* Transição suave ao aumentar */
}

.bolinhaLoadingMove {
    position: absolute;
    background: none;
    box-shadow: inset 0 0 10px var(--cor-loading-2),
                0 0 5px var(--cor-loading-2),
                0 0 10px var(--cor-loading-2);
    height: 3px;
    border-radius: 100%;
    animation: moverBolinha 4s linear infinite;
}
@keyframes moverBolinha {
    0% {
        opacity: 0;
        left: 0;
        width: 0%;
    }
    2% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.9;
        width: 50%;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        left: 100%;
        width: 2%;
    }
}
@keyframes pulsar {
    0% {
        width: 0;
        opacity: 1;
        box-shadow: 0 0 4px var(--cor-loading-2),
                0 0 7px var(--cor-loading-2),
                0 0 9px var(--cor-loading-2),
                0 0 11px var(--cor-loading-2),
                0 0 13px var(--cor-loading-2),
                0 0 15px var(--cor-loading-2),
                0 0 17px var(--cor-loading-2);
    }
    10% {
        box-shadow: 0 0 2px var(--cor-loading-2),
                0 0 5px var(--cor-loading-2),
                0 0 8px var(--cor-loading-2),
                0 0 10px var(--cor-loading-2);
    }
    50% {
        width: 100%;
    }
    60%, 100% {
        opacity: 0;
    }
}

@media (max-width: 916px) {
    .rectangle.collapsed .botaoFixado {
        left: 70%;
        top: 29%;
    }
}
