@keyframes luzBotaoCard {
    0% {
        text-shadow: 0 0 0 var(--luz-menu);
    }
    40% {
        text-shadow: 0 0 5px var(--luz-menu),
                        0 0 7px var(--luz-menu),
                        0 0 9px var(--luz-menu),
                        0 0 11px var(--luz-menu),
                        0 0 13px var(--luz-menu);
    }
    100% {
        text-shadow: 0 0 5px #ffffff00,
                        0 0 7px #ffffff00,
                        0 0 9px #ffffff00,
                        0 0 11px #ffffff00,
                        0 0 13px #ffffff00;
    }
}
.sortable-ghost {
    background: transparent !important;
    box-shadow: var(--direcao-sombra-1) var(--direcao-sombra-1) 9px var(--sombra-clara),
                var(--direcao-sombra-2) var(--direcao-sombra-2) 9px var(--sombra-escura) !important;
    backdrop-filter: blur(var(--blur)) !important;
    color: gray !important;
    border: var(--borda-card) solid var(--sombra-escura) !important;
    text-shadow: none !important;
} 
.sortable-ghost .botaoFixar,
.sortable-ghost .botaoFechar,
.sortable-ghost .botaoInfo,
.sortable-ghost .maisInfo,
.sortable-ghost .maisInfo2,
.sortable-ghost .barraLoading,
.sortable-ghost .porcentagem.pulse {
    color: var(--sombra-2) !important;
    text-shadow: none !important;
    --cor-loading-1: #6e6e6e7c;
    --cor-loading-2: #6e6e6e7c;
    --cor-botao-maisInfo: var(--sombra-2) !important;
}
.sortable-ghost .porcentagem,
.sortable-ghost .bolinhaLoading {
    box-shadow: none;
}

.rotinas {
    padding: 60px 12px 0 12px;
}
.rotinasExecutando {
    padding: 0 12px 0 12px;
}
.rotinas, .rotinasExecutando {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    transition: height var(--transicao-link) ease-in-out, padding var(--transicao-link) ease-in-out;
}
.rectangle {
    --escala-card: 1.02;
    color: white;
    border-radius: 20px;
    width: 0;
    max-height: 0;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    scale: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    transition: var(--transicao-link) ease-in-out, width 0.2s ease-in-out;
}
.rectangle.enter {
    width: 292px;
    max-height: 150px;
    padding: 5px;
    margin: 5px;
    opacity: 1;
    scale: 1;
    overflow: hidden;
}
.rectangle.enter.extraLarge {
    max-height: 900px;
    width: 583px; 
}
.rectangle.enter.large {
    max-height: 500px;
}
.rectangle.enter.medium {
    max-height: 270px;
}
.rectangle.out {
    width: 0 !important;
    max-height: 0 !important;
    min-height: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    opacity: 0 !important;
    scale: 0 !important;
    transition: var(--transicao-link) ease-in-out, max-height 0.2s ease-in-out, min-height 0.2s ease-in-out;
}
.rectangle.collapsed {
    --escala-card: 1.1;
    width: 27.5px !important;
    max-height: 27.5px !important;
    min-height: 27.5px !important;
    border-radius: 12px;
    overflow: hidden !important;
    padding: 0;
    transition: var(--transicao-link) ease-in-out, max-height 0.2s ease-in-out, min-height 0.2s ease-in-out;
}
.rectangle.collapsed #decoracao,
.rectangle.collapsed .botaoFechar,
.rectangle.collapsed .botaoInfo,
.rectangle.collapsed .maisInfo,
.rectangle.collapsed .maisInfo2,
.rectangle.collapsed .maisInfo3,
.rectangle.collapsed .dispositivo,
.rectangle.collapsed .resumoResultados,
.rectangle.collapsed .resumoResultados2,
.rectangle.collapsed .resumoErroInfo,
.rectangle.collapsed .titulo,
.rectangle.collapsed #media,
.rectangle.collapsed #mensagemAlerta,
.rectangle.collapsed .content,
.rectangle.collapsed .porcentagem.pulse,
.rectangle.collapsed .bolinhaLoading,
.rectangle.collapsed .bolinhaLoadingMove {
    opacity: 0 !important;
    max-height: 0 !important;
    min-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    animation: none !important;
    cursor: pointer;
}
.rectangle.collapsed .porcentagem,
.rectangle.collapsed .botaoFixar, 
.rectangle.collapsed .barraLoading {
    position: absolute;
    top: 0;
    left: 0;
    height: 45px;
    border-radius: 0;
    opacity: 0.6;
}


@media (max-width: 641px) {
    .rectangle.enter {
        width: 85vw;
    }
}
@media (max-width: 916px) {
    .rectangle.collapsed {
        width: 45px !important;
        min-height: 45px !important;
        max-height: 45px !important;
        border-radius: var(--borda-botao);
    }

    .cabecalhoCardBotoes {
        gap: 20px !important;
    }
    .botaoFechar, .botaoFixar, .botaoInfo {
        font-size: 1rem !important;
    }
}
@media (min-width: 650px) and (max-width: 720px) {
    .maisInfo.clicked, .maisInfo2.clicked {
        animation: luzBotaoCard 0.5s linear;
    }
}

@media (min-width: 720px) and (max-width: 916px) {
    .maisInfo, .maisInfo2 {
        margin-top: 10px;
    }
    .botaoFechar, .botaoFixar, .botaoInfo {
        font-size: large;
        font-weight: bold;
    }
    .maisInfo.clicked, .maisInfo2.clicked {
        animation: luzBotaoCard 0.5s linear;
    }
}
