@keyframes piscarWarning {
    0%, 100% {
        box-shadow: inset 0 0 15px var(--cor-ocioso-opaca),
                    0 0 10px var(--cor-ocioso-opaca);
        border: var(--borda-card) solid var(--cor-ocioso-opaca);
    }
    25% {
        box-shadow: inset 0 0 65px var(--cor-ocioso),
                    0 0 30px var(--cor-ocioso);
        border: var(--borda-card) solid var(--cor-ocioso);
    }
    50% {
        box-shadow: inset 0 0 15px var(--cor-ocioso-opaca),
                    0 0 10px var(--cor-ocioso-opaca);
        border: var(--borda-card) solid var(--cor-ocioso-opaca);
    }

}
@keyframes piscarError {
    0%, 100% {
        box-shadow: inset 0 0 15px var(--cor-erro-opaca),
                    0 0 10px var(--cor-erro-opaca);
        border: var(--borda-card) solid var(--cor-erro-opaca);
    }
    50% {
        box-shadow: inset 0 0 65px var(--cor-erro),
                    0 0 30px var(--cor-erro);
        border: var(--borda-card) solid var(--cor-erro);
    }
}
@keyframes piscarFinish {
    0%, 100% {
        box-shadow: inset 0 0 15px var(--cor-final-opaca),
                    0 0 10px var(--cor-final-opaca);
        border: var(--borda-card) solid var(--cor-final-opaca);
    }
    50% {
        box-shadow: inset 0 0 65px var(--cor-final),
                    0 0 30px var(--cor-final);
        border: var(--borda-card) solid var(--cor-final);
    }
}
.sortable-ghost {
    background: linear-gradient(50deg, #85858550, var(--cor-vidro), #85858550) !important;
    box-shadow: 0 0 10px gray !important;
}
.rotinas {
    padding: 115px 50px 90px 50px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100%;
    flex-wrap: wrap;
    transition: var(--transicao-link);
}
.rectangle {
    color: white;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    opacity: 0;
    scale: 0;
    overflow: hidden;
    transition: var(--transicao-link);
}
.rectangle.enter {
    width: fit-content;
    height: fit-content;
    padding: 12px;
    margin: 25px;
    opacity: 1;
    scale: 1;
}
.rectangle.out {
    font-size: 0;
    scale: 0;
}
.rectangle:hover{
    text-shadow: 0 0 10px black;
}

.status-executando {
    background: linear-gradient(50deg, #006345, #004557);
    box-shadow: inset 0 0 15px var(--cor-executando-opaca),
                0 0 10px var(--cor-executando-opaca);
    border: var(--borda-card) solid var(--cor-executando-opaca);
}
.status-executando .porcentagem {
    color: #006345;
    text-shadow: 0 0 25px #006345;
}
.status-executando:hover {
    box-shadow: inset 0 0 80px var(--cor-executando),
                0 0 30px var(--cor-executando);
    border: var(--borda-card) solid var(--cor-executando);
}
.status-executando:hover .porcentagem {
    color: var(--cor-executando);
    text-shadow: 0 0 25px var(--cor-executando);
}

.status-warning {
    background: linear-gradient(50deg, #aa8b00, #b95402);
    box-shadow: inset 0 0 15px var(--cor-ocioso-opaca),
                0 0 10px var(--cor-ocioso-opaca);
    border: var(--borda-card) solid var(--cor-ocioso-opaca);
    animation: piscarWarning 2s infinite;
}
.status-warning .porcentagem {
    color: var(--cor-ocioso);
    text-shadow: 0 0 15px var(--cor-ocioso);
}
.status-warning:hover {
    box-shadow: inset 0 0 80px var(--cor-ocioso),
                0 0 30px var(--cor-ocioso);
    border: var(--borda-card) solid var(--cor-ocioso);
    animation: none;
}

.status-error {
    overflow: hidden;
    background: linear-gradient(50deg, #920000fb, #a719a7);
    box-shadow: inset 0 0 15px var(--cor-erro-opaca),
                0 0 10px var(--cor-erro-opaca);
    border: var(--borda-card) solid var(--cor-erro-opaca);
    animation: piscarError 1.5s infinite;
}
.status-error .porcentagem {
    color: var(--cor-erro);
    text-shadow: 0 0 15px var(--cor-erro);
}
.status-error:hover {
    box-shadow: inset 0 0 80px var(--cor-erro),
                0 0 30px var(--cor-erro);
    border: var(--borda-card) solid var(--cor-erro);
    animation: none;
}

.status-final {
    background: linear-gradient(50deg, #00798ffd, #682dc7);
    box-shadow: inset 0 0 15px var(--cor-final-opaca),
                0 0 10px var(--cor-final-opaca);
    border: var(--borda-card) solid var(--cor-final-opaca);
    animation: piscarFinish 8s infinite;
}
.status-final .porcentagem {
    color: var(--cor-final);
    text-shadow: 0 0 15px var(--cor-final);
}
.status-final:hover {
    box-shadow: inset 0 0 80px var(--cor-final),
                0 0 30px var(--cor-final);
    border: var(--borda-card) solid var(--cor-final);
    animation: none;
}
.botaoFechar {
    width: fit-content;
    color: white;
    font-weight: 600;
    text-shadow: 0 0 1px white;
    transition: var(--transicao-link);
}
.botaoFechar:hover {
    text-shadow: 0 0 5px white;
}

.titulo {
    font-weight: 600;
    font-size: 1em;
    padding: 4px;
    opacity: 1;
    margin-bottom: 10px;
}
.content {
    font-size: 0.8em;
    padding: 0;
    opacity: 0;
    transition: opacity var(--transicao-link), padding var(--transicao-link);
}
.porcentagem {
    z-index: -1;
    position: absolute;
    bottom: -1.8rem;
    right: 0;
    font-size: 7rem;
    font-weight: 600;
    transition: var(--transicao-link);
}

.content:not(:empty) {
    padding: 4px;
    opacity: 1;
}
.rectangle.collapsed {
    font-size: 0;
    padding: 10px;
    margin: 10px;
}
.rectangle.collapsed .content {
    opacity: 0;
    scale: 0;
    padding: 0;
}
.rectangle.collapsed .titulo {
    scale: 0;
    padding: 0;
    margin-bottom: 0;
}

.shadow {
    position: absolute;
    width: 30px; /* Diminuído o tamanho do ponto de luz */
    height: 30px; /* Diminuído o tamanho do ponto de luz */
    border-radius: 50%;
    pointer-events: none; /* Para garantir que o ponto de luz não afete a interação com outros elementos */
    transform: translate(-40%, -20%); /* Para centralizar o ponto em relação ao cursor */
}