.maisInfo, .maisInfo2 {
    cursor:cell;
    border: none;
    background: none;
    margin: 8px 0 0 0;
    padding: 0 4px;
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
    scale: 1;
    opacity: 1;
    max-width: fit-content;
    max-height: 500px;
    text-shadow: 0 0 1px white;
    transition: var(--transicao-link) ease-in-out;
}
.maisInfo:hover, .maisInfo2:hover {
    text-shadow: 0 0 5px white;
}
.maisInfo.nh:hover, .maisInfo2.nh:hover {
    text-shadow: 0 0 1px white;
}
.maisInfo.minimizado, .maisInfo2.minimizado,
.maisInfo2.invisible2 .maisInfo  {
    padding: 0 0 4px 4px;
}

.resumoResultados, .resumoResultados2, .resumoErroInfo {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: var(--transicao-link) ease-in-out;
}
.resumoErroInfo {
    max-height: 500px;
    transition: max-height var(--transicao-link-2) ease-in-out;
}
.resumoResultados {
    max-height: 150px;
}
.resumoResultados2 {
    max-height: 242px;
}
.resumoResultados2.large {
    max-height: 342px;
}
.resumoResultados.collapsed, .resumoResultados2.collapsed, .resumoErroInfo.collapsed {
    opacity: 0;
    padding: 0;
    margin-bottom: 0;
    max-height: 0;
    transition: var(--transicao-link) ease-in-out;
}
.telaDadoConteudo, .telaResumoConteudo, .telaErroInfo {
    overflow-y: auto;
    overflow-x: hidden;
}
.telaDadoConteudo {
    max-height: 36px;
}
.telaResumoConteudo {
    max-height: 143px;
    transition: max-height var(--transicao-link) ease-in-out;
}
.telaResumoConteudo.large {
    max-height: 248px;
}

.content {
    font-size: 0.8em;
    padding: 0;
    opacity: 0;
    max-height: 0;
    min-height: 0;
    transition: var(--transicao-link) ease-in-out, padding var(--transicao-link-2) ease-in-out,
                max-width var(--transicao-link-2) ease-in-out, max-height var(--transicao-link-2) ease-in-out, 
                min-height var(--transicao-link-2) ease-in-out, color var(--transicao-link-2) ease-in-out, 
                text-shadow var(--transicao-link-2) ease-in-out;
}
.content:not(:empty) {
    min-height: 10px;
    max-height: 200px;
    padding: 3px;
    opacity: 1;
}

#decoracao {
    position: absolute;
    overflow: visible;
    z-index: -1000;
    top: 5px;
    right: 20px;
    width: 80px;
    height: auto;
    opacity: 0.2;
    transition: var(--transicao-link) ease-in-out;
}

.rectangle.enter.medium #decoracao {
    top: 10px;
    width: 120px;
}
.rectangle.enter.large #decoracao {
    top: 15px;
    width: 150px;
}
.rectangle.enter.extraLarge #decoracao {
    top: 15px;
    width: 250px;
}
