.cabecalhoCard, .cabecalhoCardBotoes {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
}
.cabecalhoCard {
    margin: 5px 6px;
    max-height: 15px;
}
.cabecalhoCardBotoes {
    gap: 0;
    justify-content: flex-start;
    transition: var(--transicao-link) ease-in-out;
}

.dispositivo, .titulo  {
    font-weight: 600;
    font-size: 0.85rem;
    text-align: center;
    opacity: 1;
    scale: 1;
    transition: var(--transicao-link) ease-in-out;
}
.titulo {
    white-space: nowrap;
}
.dispositivo {
    left: -50px;
    position: relative;
    opacity: 0;
    max-width: 0;
}

.tituloContainer {
    overflow: hidden;
}
.tituloWrapper {
    position: relative; /* Torna o contêiner um contexto de posicionamento */
    width: 100vw; 
}
.titulo {
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
}
.titulo span {
    display: inline-block;
    padding-left: 100%;
    animation: moveTitulo 40s linear infinite;
} 
.titulo2 span {
    animation-delay: -20s;
}
@keyframes moveTitulo {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
}

.botaoFechar, .botaoFixar {
    font-weight: 600;
    font-size: 0.7rem;
    text-align: center;
    color: white;
    background: none;
    border: none;
    opacity: 1;
    scale: 1;
    white-space: nowrap;
    border-radius: var(--borda-botao);
    height: 13px;
    transition: var(--transicao-link) ease-in-out;
}
.botaoFechar, .botaoFixar {
    width: 0;
    opacity: 0;
    cursor: pointer;
}
.botaoFixado {
    opacity: 1;
    width: 14px;
    padding-bottom: 1px;
}
.cabecalhoCardBotoesExpandido{
    margin-left: 10px;
}
/* Mostra todo o cabeçalho no hover em telas de computador ou no modo mobile*/
.rectangle:hover .botaoFechar, 
.rectangle:hover .botaoFixar,
.rectangle:hover .botaoFixado,
.rectangle.nh .botaoFechar, 
.rectangle.nh .botaoFixar,
.rectangle.nh .botaoFixado{
    width: 14px;
    opacity: 1;
}
.rectangle:hover .dispositivo,
.rectangle.nh .dispositivo {
    left: 0;
    position: relative;
    padding-right: 4px;
    margin-right: 3px;
    max-width: 90px;
    opacity: 1;
}
.rectangle:hover .tituloContainer,
.rectangle.nh .tituloContainer {
    margin: 0 5px 0 0;
}
.rectangle:hover .cabecalhoCardBotoes,
.rectangle.nh .cabecalhoCardBotoes {
    margin-left: 10px;
    gap: 10px;
}
/* --------------------------------------- */
.botaoFixar:hover {
    text-shadow: 0 0 5px white !important;
}
.botaoFechar:hover {
    text-shadow: 0 0 5px red !important;
    color: red !important;
}
.botaoFechar.nh:hover, .botaoFixar.nh:hover {
    background-color: transparent;
    text-shadow: 0 0 0 transparent;
    color: white;
}

.botaoFixado.nh:hover {
    text-shadow: 0 0 5px white,
                 0 0 7px white;
}

.botaoFixado {
    text-shadow: 0 0 5px white,
                 0 0 7px white;
    transform: rotate(72deg);
}
.rectangle.collapsed .botaoFixado {
    z-index: 9000;
    opacity: 1 !important;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    left: 68.5%;
    top: 25%;
}
.rectangle.collapsed .botaoFixado:hover {
    color: white;
    background: none;
}
.rectangle.collapsed .botaoFixar {
    opacity: 0;
}

.progresso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1px 5px;
    transition: var(--transicao-link) ease-in-out;
}
.porcentagem {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 3px;
    border-radius: var(--borda-botao);
    transition: margin 0.2s, width var(--transicao-link) ease-in-out, height 0.2s;
}
.porcentagem.pulse {
    background: var(--cor-loading-2);
    align-self: center;
    height: 1px;
    margin: 1px;
    animation: pulsar 10s infinite;
}
.porcentagem.pulse .barraLoading {
    height: 1px;
}

/* Estilização da barra de carregamento */
.barraLoading {
    position: relative;
    height: 3px;
    background: linear-gradient(50deg, var(--cor-loading-1), var(--cor-loading-2));
    border-right: var(--cor-loading-2) 3px;
    border-radius: var(--borda-botao);
    transition: height 0.2s, width 0.5s ease-in-out;
}
.bolinhaLoading {
    position: absolute;
    background-color: var(--cor-loading-2);
    box-shadow: inset 0 0 4px var(--cor-loading-2),
                inset 0 0 5px var(--cor-loading-2),
                inset 0 0 6px var(--cor-loading-2),
                inset 0 0 4px var(--cor-loading-2),
                0 0 5px var(--cor-loading-2),
                0 0 6px var(--cor-loading-2),
                0 0 7px var(--cor-loading-2),
                0 0 8px var(--cor-loading-2),
                0 0 5px var(--cor-loading-2),
                0 0 6px var(--cor-loading-2),
                0 0 7px var(--cor-loading-2),
                0 0 8px var(--cor-loading-2);
    height: 100%;
    width: 3px;
    border-radius: 100%;
    transition: height 0.2s, width 0.5s ease-in-out, box-shadow 0.5s ease-in-out; /* Transição suave ao aumentar */
}

.bolinhaLoadingMove {
    position: absolute;
    background: none;
    box-shadow: inset 0 0 10px var(--cor-loading-2),
                0 0 5px var(--cor-loading-2),
                0 0 10px var(--cor-loading-2);
    height: 100%;
    border-radius: 100%;
    animation: moverBolinha 10s linear infinite;
}
@keyframes moverBolinha {
    0% {
        opacity: 0;
        left: 0;
        width: 0%;
    }
    50% {
        opacity: 0;
        left: 0;
        width: 0%;
    }
    25% {
        opacity: 0.2;
    }
    75% {
        opacity: 0.9;
        width: 50%;
    }
    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        left: 100%;
        width: 2%;
    }
}
@keyframes pulsar {
    0% {
        width: 0;
        opacity: 0;
    }
    50% {
        width: 0;
        opacity: 1;
        box-shadow: 0 0 4px var(--cor-loading-2),
                0 0 7px var(--cor-loading-2),
                0 0 9px var(--cor-loading-2),
                0 0 11px var(--cor-loading-2),
                0 0 13px var(--cor-loading-2),
                0 0 15px var(--cor-loading-2),
                0 0 17px var(--cor-loading-2);
    }
    75% {
        box-shadow: 0 0 2px var(--cor-loading-2),
                0 0 5px var(--cor-loading-2),
                0 0 8px var(--cor-loading-2),
                0 0 10px var(--cor-loading-2);
    }
    80% {
        width: 100%;
    }
    85%, 100% {
        opacity: 0;
    }
}

@media (max-width: 916px) {
    .rectangle.collapsed .botaoFixado {
        left: 70%;
        top: 29%;
    }
    .progresso {
        margin: 10px 3px 0 3px;
    }
}
