@keyframes piscarWarning {
    0%, 100% {
        box-shadow: inset 0 0 15px var(--cor-ocioso-opaca),
                    0 0 10px var(--cor-ocioso-opaca);
        border: 2px solid var(--cor-ocioso-opaca);
    }
    25% {
        box-shadow: inset 0 0 65px var(--cor-ocioso-opaca),
                    0 0 25px var(--cor-ocioso-opaca);
        border: 2px solid var(--cor-ocioso);
    }
    50% {
        box-shadow: inset 0 0 15px var(--cor-ocioso-opaca),
                    0 0 10px var(--cor-ocioso-opaca);
        border: 2px solid var(--cor-ocioso-opaca);
    }

}
@keyframes piscarError {
    0%, 100% {
        box-shadow: inset 0 0 15px var(--cor-erro-opaca),
                    0 0 10px var(--cor-erro-opaca);;
        border: 2px solid var(--cor-erro-opaca);
    }
    50% {
        box-shadow: inset 0 0 65px var(--cor-erro-opaca),
                    0 0 25px var(--cor-erro-opaca);
        border: 2px solid var(--cor-erro);
    }
}
@keyframes piscarFinish {
    0%, 100% {
        box-shadow: inset 0 0 15px var(--cor-final-opaca),
                    0 0 10px var(--cor-final-opaca);
        border: 2px solid var(--cor-final-opaca);
    }
    50% {
        box-shadow: inset 0 0 65px var(--cor-final-opaca),
                    0 0 25px var(--cor-final-opaca);
        border: 2px solid var(--cor-final);
    }
}
.sortable-ghost {
    background: linear-gradient(50deg, #85858550, var(--cor-vidro), #85858550) !important;
    box-shadow: 0 0 10px gray !important;
}
.rotinas {
    padding: 115px 50px 90px 50px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100%;
    flex-wrap: wrap;
    transition: var(--transicao-link);
}
.rectangle {
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    opacity: 0;
    scale: 0;
    transition: var(--transicao-link);
}
.rectangle.enter {
    width: fit-content;
    height: fit-content;
    padding: 12px;
    margin: 25px;
    opacity: 1;
    scale: 1;
}
.rectangle.out {
    font-size: 0;
    scale: 0;
}

.status-executando {
    box-shadow: inset 0 0 15px var(--cor-executando-opaca),
                0 0 10px var(--cor-executando-opaca);
    border: 2px solid var(--cor-executando-opaca);
}
/*.status-executando .shadow{
    background-color: var(--cor-executando-opaca);
    box-shadow: 0 0 60px var(--cor-executando);
}*/
.status-executando:hover {
    box-shadow: inset 0 0 60px var(--cor-executando-opaca),
                0 0 25px var(--cor-executando-opaca);;
    border: 2px solid var(--cor-executando);
}

.status-warning {
    box-shadow: inset 0 0 15px var(--cor-ocioso-opaca),
                0 0 10px var(--cor-ocioso-opaca);
    border: 2px solid var(--cor-ocioso-opaca);
    animation: piscarWarning 2s infinite;
}
/*.status-warning .shadow{
    background-color: var(--cor-ocioso-opaca);
    box-shadow: 0 0 60px var(--cor-ocioso);
}*/
.status-warning:hover {
    box-shadow: inset 0 0 65px var(--cor-ocioso-opaca),
                0 0 25px var(--cor-ocioso-opaca);
    border: 2px solid var(--cor-ocioso);
    animation: none;
}

.status-error {
    box-shadow: inset 0 0 15px var(--cor-erro-opaca),
                0 0 10px var(--cor-erro-opaca);
    border: 2px solid var(--cor-erro-opaca);
    animation: piscarError 1.5s infinite;
}
/*.status-error .shadow{
    background-color: var(--cor-erro-opaca);
    box-shadow: 0 0 60px var(--cor-erro);
}*/
.status-error:hover {
    box-shadow: inset 0 0 65px var(--cor-erro-opaca),
                0 0 25px var(--cor-erro-opaca);
    border: 2px solid var(--cor-erro);
    animation:none;
}

.status-final {
    box-shadow: inset 0 0 15px var(--cor-final-opaca),
                0 0 10px var(--cor-final-opaca);
    border: 2px solid var(--cor-final-opaca);
    animation: piscarFinish 5s infinite;
}
/*.status-final .shadow{
    background-color: var(--cor-final-opaca-2);
    box-shadow: 0 0 60px var(--cor-final);
}*/
.status-final:hover {
    box-shadow: inset 0 0 60px var(--cor-final-opaca),
                0 0 25px var(--cor-final-opaca);
    border: 2px solid var(--cor-final);
    animation:none;
}
.botaoFechar {
    width: fit-content;
    color: var(--cor-final);
    text-shadow: none;
    transition: var(--transicao-link);
}
.botaoFechar:hover {
    text-shadow: 0 0 5px var(--cor-final);
}

.rectangle .title {
    font-size: 1em;
    padding-bottom: 6px;
}
.content {
    font-size: 0.8em;
    padding: 0;
    opacity: 0;
    transition: opacity var(--transicao-link), padding var(--transicao-link);
}
.title:not(:empty), 
.content:not(:empty) {
    padding: 4px;
    opacity: 1;
}
.rectangle.collapsed {
    font-size: 0;
    padding: 10px;
    margin: 10px;
}
.rectangle.collapsed .content {
    opacity: 0;
    scale: 0;
    padding: 0;
}

.shadow {
    position: absolute;
    width: 30px; /* Diminuído o tamanho do ponto de luz */
    height: 30px; /* Diminuído o tamanho do ponto de luz */
    border-radius: 50%;
    pointer-events: none; /* Para garantir que o ponto de luz não afete a interação com outros elementos */
    transform: translate(-40%, -20%); /* Para centralizar o ponto em relação ao cursor */
}