.cabecalhoCard, .cabecalhoCardBotoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cabecalhoCard {
    padding: 0 2px;
}
.cabecalhoCardBotoes {
    justify-content: flex-start;
    margin-left: 3px;
}

.dispositivo, .titulo, .botaoFechar, .botaoFixar  {
    font-weight: 600;
    font-size: 1em;
    padding:  4px 4px 5px 4px;
    opacity: 1;
    scale: 1;
    white-space: nowrap;
    transition: var(--transicao-link);
}
.dispositivo {
    margin-right: 3px;
}

.tituloContainer {
    overflow: hidden;
    width: 275px; /* Ajuste a largura conforme necessário */
}
.tituloWrapper {
    position: relative; /* Torna o contêiner um contexto de posicionamento */
    width: 100vw; 
}
.titulo {
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    opacity: 1;
    scale: 1;
    transition: var(--transicao-link);
}
.titulo span {
    display: inline-block;
    padding-left: 100%;
    animation: moveTitulo 40s linear infinite;
} 
.titulo2 span {
    animation-delay: -20s;
}
@keyframes moveTitulo {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
}

.botaoFechar, .botaoFixar {
    text-align: center;
    font-weight: 100;
    font-size: 0.9em;
    color: white;
    background: none;
    border: none;
    border-radius: var(--borda-botao);
    width: 14px;
    height: 13px;
    transition: var(--transicao-link);
}
.botaoFechar:hover, .botaoFixar:hover {
    background-color: white;
}
.botaoFixar:hover {
    color: black;
}
.botaoFechar:hover {
    color: red;
}
.botaoFechar.nh:hover, .botaoFixar.nh:hover {
    background-color: transparent;
    text-shadow: 0 0 0 transparent;
    color: white;
}
.botaoFixado.nh:hover {
    text-shadow: 0 0 5px white,
                 0 0 7px white;
}

.botaoFixado {
    text-shadow: 0 0 5px white,
                 0 0 7px white;
}
.rectangle.collapsed .botaoFixado {
    position: absolute;
    z-index: 9000;
    opacity: 1 !important;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    left: 32%;
    top: 15%;
}
.rectangle.collapsed .botaoFixado:hover {
    color: white;
    background: none;
}
.rectangle.collapsed .botaoFixar {
    position: absolute;
    opacity: 0;
}

.progresso {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 1px 4px;
    transition: var(--transicao-link)
}
#mensagemAlerta {
    max-height: 30px;
    padding-left: 4px;
    overflow: auto;
}
.porcentagem {
    background: var(--cor-fundo-2);
    backdrop-filter: blur(var(--blur));
    width: 100%;
    height: 3px;
    border-radius: var(--borda-botao);
    transition: var(--transicao-link)
}

/* Estilização da barra de carregamento */
.barraLoading {
    position: relative;
    height: 100%;
    background: linear-gradient(50deg, var(--cor-loading-1), var(--cor-loading-2));
    border-right: var(--cor-loading-2) 3px;
    border-radius: var(--borda-botao);
    transition: 0.5s; /* Transição suave ao aumentar */
}
.bolinhaLoading {
    position: absolute;
    background-color: var(--cor-loading-2);
    box-shadow: inset 0 0 4px var(--cor-loading-2),
                inset 0 0 5px var(--cor-loading-2),
                inset 0 0 6px var(--cor-loading-2),
                inset 0 0 4px var(--cor-loading-2),
                0 0 5px var(--cor-loading-2),
                0 0 6px var(--cor-loading-2),
                0 0 7px var(--cor-loading-2),
                0 0 8px var(--cor-loading-2),
                0 0 5px var(--cor-loading-2),
                0 0 6px var(--cor-loading-2),
                0 0 7px var(--cor-loading-2),
                0 0 8px var(--cor-loading-2);
    width: 3px;
    height: 3px;
    border-radius: 100%;
    transition: 0.5s; /* Transição suave ao aumentar */
}

.bolinhaLoadingMove {
    position: absolute;
    background: none;
    box-shadow: inset 0 0 10px var(--cor-loading-2),
                0 0 5px var(--cor-loading-2),
                0 0 10px var(--cor-loading-2);
    height: 3px;
    border-radius: 100%;
    animation: moverBolinha 4s linear infinite;
}
@keyframes moverBolinha {
    0% {
        opacity: 0;
        left: 0;
        width: 0%;
    }
    2% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.9;
        width: 50%;
}
    100% {
        opacity: 0;
        left: 100%;
        width: 2%;
    }
}