/* Estilizando a barra de rolagem */
.telaHistoricoConteudo::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
}
.telaHistoricoConteudo::-webkit-scrollbar-track {
    background: transparent; /* Cor do fundo da barra de rolagem */
}
.telaHistoricoConteudo::-webkit-scrollbar-thumb {
    background-color: #818181; /* Cor da barra de rolagem */
    border-radius: 6px; /* Arredondamento das bordas */
    border: none; /* Espaçamento entre a barra e o conteúdo */
    transition: var(--transicao-link);
}
.telaHistoricoConteudo::-webkit-scrollbar-thumb:hover {
    background: var(--cor-destaque);
    border: none;
}
/* Buttons */
.telaHistoricoConteudo::-webkit-scrollbar-button:single-button {
    background-color: transparent;
    display: block;
    border-style: solid;
    height: 25px;
    width: 6px;
}
/* Up */
.telaHistoricoConteudo::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 3px 10px 3px;
    border-color: transparent transparent #818181 transparent;
}

.telaHistoricoConteudo::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent var(--cor-destaque) transparent;
}
/* Down */
.telaHistoricoConteudo::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 10px 3px 0 3px ;
    border-color: #818181 transparent transparent transparent;
}
.telaHistoricoConteudo::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: var(--cor-destaque) transparent transparent transparent;
}

.mainHistorico {
    width: 1500px;
    padding: 100px 12px 0 0 ;
    align-items: center;
    display: flex;
    margin: 0;
    opacity: 1;
    scale: 1;
    max-height: 100vh;
    flex-direction: column;
    transition: opacity var(--transicao-link), max-height var(--transicao-link), padding var(--transicao-link), margin var(--transicao-link), width var(--transicao-link);
}
.painelConfig{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0;
    gap: 10px;
    justify-content: center;
    align-items: baseline;
    max-height: 200px;
    transition: opacity var(--transicao-link), max-height var(--transicao-link), padding var(--transicao-link), margin var(--transicao-link);
}
.painelConfig.collapsed, .mainHistorico.collapsed {
    opacity: 0;
    max-height: 0;
    padding: 0;
    margin: 0;
    z-index: -999;
}
.mainHistorico.collapsed {
    width: 0;
}

.filtroHistorico{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    transition: var(--transicao-link);
}
.filtroGeral, .filtroErro, .filtroOcioso, .filtroFinal, .filtroFechar{
    border: none;
    cursor: pointer;
    background-color: var(--cor-texto); /* Cor da bolinha */
    width: 20px; /* Ajuste o tamanho da bolinha conforme necessário */
    height: 5px; /* Ajuste o tamanho da bolinha conforme necessário */
    border-radius: 5px; /* Torna a bolinha circular */
    transition: var(--transicao-link);
}
.filtroGeral.clicado, .filtroErro.clicado, .filtroOcioso.clicado, .filtroFinal.clicado, .filtroFechar.clicado{
    height: 10px;
}
.filtroGeral.clicado {
    box-shadow: 0 0 6px var(--cor-texto)
}
.filtroErro.clicado {
    box-shadow: 0 0 6px var(--cor-erro)
}
.filtroOcioso.clicado {
    box-shadow: 0 0 6px var(--cor-ocioso)
}
.filtroFinal.clicado {
    box-shadow: 0 0 6px var(--cor-final)
}
.filtroFechar.clicado {
    box-shadow: 0 0 6px var(--cor-fechar)
}
.filtroErro {
    background-color: var(--cor-erro); /* Cor da bolinha */
}
.filtroOcioso {
    background-color: var(--cor-ocioso); /* Cor da bolinha */
}
.filtroFinal {
    background-color: var(--cor-final); /* Cor da bolinha */
}
.filtroFechar {
    background-color: var(--cor-fechar); /* Cor da bolinha */
}
.filtroGeral:hover, .filtroErro:hover, .filtroOcioso:hover, .filtroFinal:hover, .filtroFechar:hover {
    height: 10px;
}

.menuPaginas {
    display: flex;
    justify-self: center;
    width: fit-content;
    flex-direction: row;
}
.pageSize {
    width: 35px;
}
.paginaHistorico {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.paginaHistorico span {
    align-self: center;
}
.paginaHistorico button:disabled {
    color: var(--cor-texto-2);
    background-color: var(--cor-texto);
    cursor: default        /* Muda o cursor para 'não permitido' */
}

.telaHistorico {
    max-height: 72vh;
    opacity: 1;
    display: flex;
    align-self: center;
    flex-direction: column;
    padding: 25px 25px;
    margin: 20px 0 0 0;
    font-size: 0.8em;
    width: 90%;
    padding: 8px;
    transition: opacity var(--transicao-link);
}
.telaHistoricoConteudo {
    border-radius: 10px;
    overflow: auto;
}
.telaHistorico.collapsed {
    opacity: 0 !important; /* Altura desejada quando colapsado */
    height: 72vh
}
.linha{
    align-content: center;
    border-radius: var(--borda-botao);
    opacity: 1;
    display: grid;
    grid-template-columns: 0.5fr 3fr 1.5fr; /* Três colunas iguais */
    padding: 10px;
    min-height: 10px;
    transition: var(--transicao-link);
}
.linha:hover {
    background: var(--sombra-2);
}
.situacao {
    text-align: right;
}
.iniciada {
    color: var(--cor-texto);
}
.ociosa {
    color: var(--cor-ocioso-alternativa);
    font-weight: bold;
}
.erro {
    color: var(--cor-erro-alternativa);
    font-weight: bold;
}
.finalizada {
    color: var(--cor-final-alternativa);
    font-weight: bold;
}
.fechado {
    color: var(--cor-fechar);
    font-weight: bold;
}


@media (max-width: 720px) {
    .mainHistorico {
        padding: 5px 0;
        width: 100%;
    }
    .mainHistorico.collapsed {
        width: 100%;
    }
    .filtroHistorico{
        justify-content: center;
        gap: 25px;
        padding: 10px;
    }
    .telaHistorico {
        padding: 5px;
        overflow: auto;
    }
    .filtroGeral, .filtroErro, .filtroOcioso, .filtroFinal, .filtroFechar{
        font-size: x-large;
    }
    .telaHistoricoConteudo {
        border-radius: var(--borda-botao);
    }
    .linha{
        font-size: smaller;
        padding: 0.6rem;
        grid-template-columns: 1.5fr 2fr 1.5fr;
    }
}
@media (min-width: 721px) and (max-width: 1500px) {
    .linha{
        padding: 0.6rem;
        grid-template-columns: 1fr 3fr 1fr
    }
}  

@media (max-width: 2500px) {
    .mainHistorico.collapsed {
        width: 100%;
    }

    .mainHistorico {
        width: 100%;
        padding: 70px 0;
        align-self: initial;
    }
}    