/* Estilizando a barra de rolagem */
.telaHistorico::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
}
.telaHistorico::-webkit-scrollbar-track {
    background: transparent; /* Cor do fundo da barra de rolagem */
}
.telaHistorico::-webkit-scrollbar-thumb {
    background-color: #818181; /* Cor da barra de rolagem */
    border-radius: 6px; /* Arredondamento das bordas */
    border: none; /* Espaçamento entre a barra e o conteúdo */
    transition: var(--transicao-link);
}
.telaHistorico::-webkit-scrollbar-thumb:hover {
    background: var(--cor-destaque);
    border: none;
}
/* Buttons */
.telaHistorico::-webkit-scrollbar-button:single-button {
    background-color: transparent;
    display: block;
    border-style: solid;
    height: 25px;
    width: 6px;
}
/* Up */
.telaHistorico::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 3px 10px 3px;
    border-color: transparent transparent #818181 transparent;
}

.telaHistorico::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent var(--cor-destaque) transparent;
}
/* Down */
.telaHistorico::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 10px 3px 0 3px ;
    border-color: #818181 transparent transparent transparent;
}
.telaHistorico::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: var(--cor-destaque) transparent transparent transparent;
}

.mainHistorico {
    padding: 115px 0 90px 0;
    display: flex;
    margin: 0;
    opacity: 1;
    scale: 1;
    width: 1500px;
    max-height: 100vh;
    flex-direction: column;
    align-self: initial;
    transition: opacity var(--transicao-link), max-height var(--transicao-link), padding 1s, margin var(--transicao-link), width var(--transicao-link);
}
.historicoExpandida {
    padding: 160px 12px 0 0;
}
.mainHistorico.collapsed {
    opacity: 0;
    padding: 0;
    margin: 0;
    width: 0;
}
.filtroHistorico{
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 10px 150px;
    transition: var(--transicao-link);
}
.filtroGeral.clicado, .filtroErro.clicado, .filtroOcioso.clicado, .filtroFinal.clicado, .filtroFechar.clicado{
    scale: 1.5;
}
.filtroGeral.clicado {
    text-shadow: 0 0 6px var(--cor-texto-2)
}
.filtroErro.clicado {
    text-shadow: 0 0 6px var(--cor-erro)
}
.filtroOcioso.clicado {
    text-shadow: 0 0 6px var(--cor-ocioso)
}
.filtroFinal.clicado {
    text-shadow: 0 0 6px var(--cor-final)
}
.filtroFechar.clicado {
    text-shadow: 0 0 6px var(--cor-fechar)
}
.filtroErro {
    color: var(--cor-erro); /* Cor da bolinha */
}
.filtroGeral, .filtroErro, .filtroOcioso, .filtroFinal, .filtroFechar{
    color: var(--cor-texto);
    border: none;
    background: none;
    cursor: pointer;
    font-size: larger;
    transition: var(--transicao-link);
}
.filtroFechar {
    color: var(--cor-fechar); /* Cor da bolinha */
}
.filtroErro {
    color: var(--cor-erro); /* Cor da bolinha */
}
.filtroOcioso {
    color: var(--cor-ocioso); /* Cor da bolinha */
}
.filtroFinal {
    color: var(--cor-final); /* Cor da bolinha */
}
.filtroGeral:hover, .filtroErro:hover, .filtroOcioso:hover, .filtroFinal:hover, .filtroFechar:hover {
    scale: 1.5;
}
.telaHistorico {
    width: 90%;
    max-height: 585px; /* Defina a altura máxima desejada */
    overflow: auto; /* Adiciona o scroll vertical */
    display: flex;
    align-self: center;
    flex-direction: column;
    padding: 10px 25px;
    margin: 5px;
    font-size: 0.8em;
    transition: width var(--transicao-link), max-height var(--transicao-link), padding var(--transicao-link), margin var(--transicao-link), 
                font-size var(--transicao-link);
}
.linha{
    align-content: center;
    border-radius: var(--borda-botao);
    opacity: 1;
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr; /* Três colunas iguais */
    padding: 10px;
    min-height: 10px;
    transition: var(--transicao-link);
}
.linha.collapsed {
    opacity: 0 !important;
    min-height: 0 !important;
    height: 0 !important; /* Altura desejada quando colapsado */
    padding: 0 1% !important;
}
.linha:hover {
    background: var(--sombra-2);
}
.situacao {
    text-align: right;
}
.iniciada {
    color: var(--cor-texto);
}
.ociosa {
    color: var(--cor-ocioso-alternativa);
    font-weight: bold;
}
.erro {
    color: var(--cor-erro-alternativa);
    font-weight: bold;
}
.finalizada {
    color: var(--cor-final-alternativa);
    font-weight: bold;
}
.fechado {
    color: var(--cor-fechar);
    font-weight: bold;
}


@media (max-width: 720px) {
    .mainHistorico {
        padding: 5px 0;
    }
    .filtroHistorico{
        justify-content: center;
        gap: 25px;
        padding: 60px 0 10px;
    }
    .filtroGeral, .filtroErro, .filtroOcioso, .filtroFinal, .filtroFechar{
        font-size: x-large;
    }
    .telaHistorico {
        padding: 5px;
    }
    .linha{
        align-self: center;
        font-size: smaller;
        padding: 1rem 0.6rem;
        grid-template-columns: 1.5fr 3fr 2fr;
    }
}
@media (max-width: 2500px) {
    .mainHistorico {
        width: 100%;
    }
    .mainHistorico.collapsed {
        max-height: 0;
    }
    .historicoExpandida {
        padding: 100px 12px 0 0;
    }
}