@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('cabecalho.css');
@import url('cards.css');
@import url('historico.css');

:root {
    --tamanho-titulo: 2.4rem;
    --tamanho-texto: 1.4rem;
    --tamanho-texto-2: 0.9rem;
    --transicao-link: 0.4s;
    --cor-executando: #00cf91;
    --cor-executando-opaca: #00694a;
    --cor-erro: #fc0000;
    --cor-erro-opaca: #790000;
    --cor-ocioso: #fcac00;
    --cor-ocioso-opaca: #9c5900;
    --cor-final: #00c1fc;
    --cor-final-opaca: #003d66;
    --blur: 4px;
    --borda-card: 3px;
    --sombra-card: #27272727;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
}
::-webkit-scrollbar-track {
    background: transparent; /* Cor do fundo da barra de rolagem */
}
::-webkit-scrollbar-thumb {
    background-color: #757575; /* Cor da barra de rolagem */
    border-radius: 6px; /* Arredondamento das bordas */
    border: none; /* Espaçamento entre a barra e o conteúdo */
    transition: var(--transicao-link);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--cor-destaque);
    box-shadow: 0 0 5px var(--cor-destaque);

}
::-webkit-scrollbar-button {
    border: none;
}

body {
    line-height: 15px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dark {
    --direcao-sombra: -3px;
    --cor-destaque: #ffffff;
    --cor-vidro: #22222280;
    --cor-vidro-2: #0f0f0f80;
    --cor-texto: #ffffff;
    --cor-texto-2: #000000;
    --cor-fundo: #131313;
    --sombra: #272727dc;
    --sombra-2: #3d3d3dc7;
    background-color: #131313;
    color: var(--cor-texto);
}
.light {
    --direcao-sombra: 3px;
    --cor-destaque: #000000;
    --cor-vidro: #e9e9e9a1;
    --cor-vidro-2: #d1d1d1a1;
    --cor-texto: #000000;
    --cor-texto-2: #ffffff;
    --cor-fundo: #e6e6e6;
    --sombra: #c7c7c7de;
    --sombra-2: #9b9b9bad;
    background-color: #e6e6e6;
    color: var(--cor-texto);
}

.bg {
    animation:slide 20s ease-in-out infinite alternate;
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
.bgDark {
    background-image: linear-gradient(-60deg,  #1f1f1f 50%, #111111 50%);
}
.bgLight {
    background-image: linear-gradient(-60deg,  #dbdbdb 50%, #f1f1f1 50%);
}
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:22s;
}
.bg3 {
    animation-duration:24s;
}
@keyframes slide {
    0% {
    transform:translateX(-25%);
    }
    100% {
    transform:translateX(25%);
    }
}

.invisible {
    opacity: 0;
    position: fixed;
    bottom: 200%;
}
.invisible2 {
    opacity: 0 !important;
    visibility: hidden !important;
}

.fundo {
    background: linear-gradient(-50deg, var(--cor-vidro-2), var(--cor-vidro));
    border-radius: 20px;
    box-shadow: var(--direcao-sombra) var(--direcao-sombra) 9px var(--sombra);
    backdrop-filter: blur(var(--blur));
}
.fundo2 {
    background: #a8a8a82d;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--sombra-card);
    backdrop-filter: blur(var(--blur));
}


/*------------------------------------------------------------------------------------------------*/


#toggleDarkMode { 
    border: none;
    background: none;
    cursor: pointer;
    transition: var(--transicao-link);
}
#toggleDarkMode img{
    width: 14px;
    height: auto;
}
#toggleDarkMode:hover {
    scale: 1.2;
}


/*------------------------------------------------------------------------------------------------*/


.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*------------------------------------------------------------------------------------------------*/


.rodape {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    padding: 5rem 0 1rem 0;
    margin: 10px 2% 2% 2%;
}
.rodapeConteudo {
    display: flex;
    gap: 0.3rem 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
}
.link__padrao {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-destaque);
    transition: var(--transicao-link);
}
.link__padrao:hover {
    text-shadow: 0 0 20px var(--cor-destaque);
}

@media (max-width: 720px) {
    .fundo {
        border-radius: 25px !important;
    }
    .menu {
        gap: 5px !important;
    }
    #clock {
        font-size: 0 !important;
    }
    .dicaTela {
        max-width: 90% !important;
    }
    .rotinas {
        padding: 50px 0 90px 0 !important;
    }
    .rectangle.collapsed {
        padding: 10px !important;
    }

    .mainHistorico {
        padding: 5px 0 !important;
    }
    .filtroHistorico{
        justify-content: center !important;
        gap: 25px !important;
        padding: 60px 0 10px !important;
    }
    .filtroGeral, .filtroErro, .filtroOcioso, .filtroFinal{
        font-size: x-large !important;
    }
    .telaHistorico {
        padding: 5px !important;
    }
    .linha{
        align-self: center !important;
        font-size: smaller !important;
        padding: 1rem 0.6rem !important;
        grid-template-columns: 1.5fr 3fr 2fr !important;
    }
    body:focus {
        outline: none !important;
        border-color: 2px solid var(--cor-destaque) !important;
    }
}

@media (min-width: 2500px) {
    .mainHistorico {
        width: 45% !important;
    }
    .layout {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
    }
}