@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('cabecalho.css');
@import url('cards.css');
@import url('historico.css');

:root {
    --tamanho-titulo: 2.4rem;
    --tamanho-texto: 1.4rem;
    --tamanho-texto-2: 0.9rem;
    --transicao-link: 0.4s;
    --cor-executando-opaca: #00694a;
    --cor-erro-opaca: #790000;
    --cor-ocioso-opaca: #9c5900;
    --cor-final-opaca: #003d66;
    --blur: 4px;
    --borda-card: 3px;
    --sombra-card: #27272727;
}

/* Estilizando a barra de rolagem */
body::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
}
body::-webkit-scrollbar-track {
    background: var(--cor-vidro-2); /* Cor do fundo da barra de rolagem */
}
body::-webkit-scrollbar-thumb {
    background-color: #818181; /* Cor da barra de rolagem */
    border-radius: 6px; /* Arredondamento das bordas */
    border: none; /* Espaçamento entre a barra e o conteúdo */
    transition: var(--transicao-link);
}
body::-webkit-scrollbar-thumb:hover {
    background: var(--cor-destaque);
    border: none;
}
body::-webkit-scrollbar-button {
    background: var(--cor-vidro-2);
}

body {
    background: linear-gradient(-50deg, var(--cor-vidro-2), var(--cor-vidro));
    min-height: 100vh;
    line-height: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dark {
    --cor-executando: #00cf91;
    --cor-erro: #fc0000;
    --cor-ocioso: #ffae00;
    --cor-final: #00c1fc;
    
    --cor-destaque: #ffffff;
    --cor-vidro: #1f2329;
    --cor-vidro-2: #101314;
    --cor-texto: #ffffff;
    --cor-texto-2: #000000;
    --cor-fundo: #131518;
    --direcao-sombra-2: 3px;
    --direcao-sombra-1: -3px;
    --sombra-clara: #44444486;
    --sombra-escura: #0a0a0adc;
    --sombra-2: #232930c7;
    color: var(--cor-texto);
}
.light {
    --cor-executando: #00be85;
    --cor-erro: #fc0000;
    --cor-ocioso: #ca8a00;
    --cor-final: #00a7da;

    --cor-destaque: #000000;
    --cor-vidro: #d1d1d1;
    --cor-vidro-2: #b3b3b3;
    --cor-texto: #000000;
    --cor-texto-2: #ffffff;
    --cor-fundo: #e6e6e6;
    --direcao-sombra-2: 3px;
    --direcao-sombra-1: -3px;
    --sombra-clara: #e4e3e3c2;
    --sombra-escura: #a5a5a5de;
    --sombra-2: #afafafad;
    color: var(--cor-texto);
}

.invisible {
    opacity: 0;
    position: fixed;
    bottom: 200%;
}
.invisible2 {
    opacity: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    max-height: 0 !important;
}

.fundo {
    background: transparent;
    border-radius: 20px;
    box-shadow: var(--direcao-sombra-1) var(--direcao-sombra-1) 9px var(--sombra-clara),
                var(--direcao-sombra-2) var(--direcao-sombra-2) 9px var(--sombra-escura);
    backdrop-filter: blur(var(--blur));
}
.fundo2 {
    background: #a8a8a82d;
    border-radius: 10px;
    box-shadow: 0 0 5px var(--sombra-card);
    backdrop-filter: blur(var(--blur));
}


/*------------------------------------------------------------------------------------------------*/


#toggleDarkMode { 
    border: none;
    background: none;
    cursor: pointer;
    transition: var(--transicao-link);
}
#toggleDarkMode img{
    width: 14px;
    height: auto;
}
#toggleDarkMode:hover {
    scale: 1.2;
}


/*------------------------------------------------------------------------------------------------*/


.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


/*------------------------------------------------------------------------------------------------*/


.rodape {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    padding: 5rem 0 1rem 0;
    margin: 70vh 2% 2% 2%;
}
.rodapeConteudo {
    display: flex;
    gap: 0.3rem 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
}
.link__padrao {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-destaque);
    transition: var(--transicao-link);
}
.link__padrao:hover {
    text-shadow: 0 0 20px var(--cor-destaque);
}

@media (max-width: 720px) {
    body:focus {
        outline: none;
        border-color: 2px solid var(--cor-destaque);
    }
}

@media (min-width: 2500px) {
    .layout {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}