@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --escala-maquina: 1.02;
    --tamanho-titulo: 2.4rem;
    --tamanho-texto: 1.4rem;
    --tamanho-texto-2: 0.9rem;
    --transicao-link: 0.3s;
    --transicao-link-2: 0.6s;
    --blur: 15px;
    --blur-fundo: 5px;
    --blur-card: 3px;
    --borda-card: 1px;
    --sombra-vidro-card-clara: #cecccc0c;
    --sombra-vidro-card-escura: #6868680c;
    --sombra-card: #3f3f3f27;
    --sombra-card-clara: #81818127;
    --sombra-2: #7c746827;
    --borda-botao: 20px;
    --padding-botao: 1px 6px;
    --cor-padrao: #ff0040;
    --blur-transition: 10px;
    --cor-botao-maisInfo: #ffffffff;
}

.dark {
    --stripe-color: #000000;
    --filter: blur(10px) opacity(50%) saturate(200%);
    --opacidade-patern: 0.1;

    --animacao-bota-1: #1a67c5;
    --animacao-bota-2: #29d175;
    --animacao-bota-3: #beae19;
    --animacao-bota-4: #ad1e5a;
    --animacao-opaca-bota-1: #1f64b838;
    --animacao-opaca-bota-2: #2fc97427;
    --animacao-opaca-bota-3: #b4a51e2d;
    --animacao-opaca-bota-4: #a521582d;
    
    --cor-executando: #00cf91;
    --cor-atencao: #00cf0a;
    --cor-erro: #ff0000;
    --cor-ocioso: #ffae00;
    --cor-final: #00c1fc;
    --cor-fechar: #8d5cff;

    --cor-executando-alternativa: #00cf91;
    --cor-erro-alternativa: #9b0000;
    --cor-ocioso-alternativa: #c47500;
    --cor-final-alternativa: #0098c7;
    
    --cor-destaque: #ffffff;
    --cor-vidro: #201f1f9a;
    --cor-vidro-2: #181613;
    --cor-borda-vidro: #818181c2;
    --cor-texto: #ffffff;
    --cor-texto-2: #000000;
    --cor-titulo: #444444;
    --cor-fundo: #080808;
    --direcao-sombra-2: 2px;
    --direcao-sombra-1: -2px;
    --sombra-clara: #00000028;
    --sombra-escura: #0000006e;
    --sombra-escura-2: #00000091;
    --sombra-vidro-clara: #ffffff0c;
    --sombra-vidro-escura: #8c8c8c05;
    --luz-menu: #7f95afc7;
}
.light {
    --stripe-color: #ffffff;
    --filter: blur(10px) invert(100%);
    --opacidade-patern: 0.1;

    --animacao-bota-1: #4b9bfd;
    --animacao-bota-2: #51fc9e;
    --animacao-bota-3: #ffd448;
    --animacao-bota-4: #ff5fa2;
    --animacao-opaca-bota-1: #0073ff2c;
    --animacao-opaca-bota-2: #00ff733a;
    --animacao-opaca-bota-3: #ffc40034;
    --animacao-opaca-bota-4: #ff006a33;

    --cor-executando: #00be85;
    --cor-atencao: #01b30a;
    --cor-erro: #ff0000;
    --cor-ocioso: #ffae00;
    --cor-final: #00c3ff;
    --cor-fechar: #3a00c0;

    --cor-executando-alternativa: #00a573;
    --cor-erro-alternativa: #8f0000;
    --cor-ocioso-alternativa: #965500;
    --cor-final-alternativa: #00789c;

    --cor-destaque: #000000;
    --cor-vidro: #f3eee585;
    --cor-vidro-2: #c0c0c0;
    --cor-borda-vidro: #ebebeb;
    --cor-texto: #000000;
    --cor-texto-2: #ffffff;
    --cor-titulo: #000000;
    --cor-fundo: #fffaf4;
    --direcao-sombra-2: 2px;
    --direcao-sombra-1: -2px;
    --sombra-clara: #97959528;
    --sombra-escura: #3b3b3b1f;
    --sombra-escura-2: #2525255b;
    --sombra-vidro-clara: #ffffff38;
    --sombra-vidro-escura: #7e7e7e2f;
    --luz-menu: #ebebebad;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--cor-texto);
    font-style: oblique;
    transition: background-color 1s ease-in-out;
    box-shadow: inset 0 0 20px #23232300;
}

.telaHistoricoConteudo, .dicaContainer, .galeriaContainer, .maquinasContainerFundo {
    --scroll-background: transparent;
    --scroll-hover: var(--cor-destaque);
    --scroll-button-heigh: 20px;
    --scroll-bar-width: 6px;
    --scroll-color: #858585;
}
.scrollInfo {
    --scroll-background: transparent;
    --scroll-hover: white;
    --scroll-bar-width: 4px;
    --scroll-color: #dbdbdb73;
}
.scrollMini, .scrollInfo {
    --scroll-button-heigh: 0;
}

/* Estilizando a barra de rolagem */
.scroll::-webkit-scrollbar {
    width: var(--scroll-bar-width); /* Largura da barra de rolagem */
}
.scroll::-webkit-scrollbar-track {
    background: var(--scroll-background); /* Cor do fundo da barra de rolagem */
}
.scroll::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color); /* Cor da barra de rolagem */
    border-radius: 6px; /* Arredondamento das bordas */
    border: none; /* Espaçamento entre a barra e o conteúdo */
    transition: var(--transicao-link) ease-in-out;
}
.scroll::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover);
    border: none;
}
/* Buttons */
.scroll::-webkit-scrollbar-button:single-button {
    background-color: var(--scroll-background);
    display: block;
    border-style: solid;
    height: var(--scroll-button-heigh);
    width: 5px;
}
/* Up */
.scroll::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 2px 8px 2px;
    border-color: transparent transparent var(--scroll-color) transparent;
}
.scroll::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent var(--scroll-hover) transparent;
}
/* Down */
.scroll::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 2px 0 2px ;
    border-color: var(--scroll-color) transparent transparent transparent;
}
.scroll::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: var(--scroll-hover) transparent transparent transparent;
}

html, body {
    overflow-x: hidden !important;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
}
body {
    --scroll-background: var(--cor-vidro-2);
    --scroll-hover: var(--cor-destaque);
    --scroll-button-heigh: 20px;
    --scroll-bar-width: 6px;
    --scroll-color: #858585;

    overflow: hidden;
    background: linear-gradient(135deg, rgba(145, 145, 145, 0.151), rgba(39, 39, 39, 0.158));
    background-color: var(--cor-fundo); /* cor base */
    color: var(--cor-texto);
    line-height: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 0.7em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-color 1s ease-in-out, margin 1s ease-in-out ,width 1s ease-in-out;
}
.paragrafo {
    margin: 13px 7.3px;
}
h1 {
    font-weight: 500;
    font-size: var(--tamanho-texto-2);
}
button {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

.invisible {
    opacity: 0 !important;
    position: fixed !important;
    bottom: 200% !important;
}
.invisible1 {
    opacity: 0 !important;
    min-height: 0 !important;
    max-height: 0 !important;
}
.invisible2 {
    opacity: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 0 !important;
    max-height: 0 !important;
    min-width: 0 !important;
    min-height: 0 !important;
    cursor: default !important;
    z-index: -999;
}
.invisible3 {
    opacity: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 0 !important;
    height: 0 !important;
    cursor: default !important;
}
.invisible4 {
    opacity: 0 !important;
    max-width: 0 !important;
    cursor: default !important;
}
.invisible5 {
    opacity: 0 !important;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    cursor: default !important;
}
.invisible6 {
    opacity: 0 !important;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    cursor: default !important;
}
.invisible7 {
    overflow: hidden !important;
    opacity: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    max-height: 0 !important;
    cursor: default !important;
}

.fundo, .fundoInvertido {
    height: fit-content;
    width: fit-content;
    background: var(--cor-vidro);
    border-radius: var(--borda-botao);
    backdrop-filter: blur(var(--blur));
    -webkit-backdrop-filter: blur(var(--blur)); /* compatibilidade com Safari */
    transition: 1s ease-in-out;
}
.fundo, .fundoSolido {
    box-shadow: var(--direcao-sombra-1) var(--direcao-sombra-1) 9px var(--sombra-clara),
                var(--direcao-sombra-2) var(--direcao-sombra-2) 9px var(--sombra-escura),
                inset -1px -1px 2px var(--sombra-vidro-clara),
                inset 1px 1px 2px var(--sombra-vidro-clara),
                inset 1px -1px 2px var(--sombra-vidro-escura),
                inset -1px 1px 2px var(--sombra-vidro-escura);
}
.fundoInvertido {
    background: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none; /* compatibilidade com Safari */
    box-shadow: inset var(--direcao-sombra-1) var(--direcao-sombra-1) 9px var(--sombra-clara),
                inset var(--direcao-sombra-2) var(--direcao-sombra-2) 9px var(--sombra-escura),
                -1px -1px 1px var(--sombra-vidro-clara),
                1px 1px 1px var(--sombra-vidro-clara),
                1px -1px 1px var(--sombra-vidro-escura),
                -1px 1px 1px var(--sombra-vidro-escura);
}
.fundo2 {
    padding: 3px 2px;
    margin: 5px 0 0 0;
    background: var(--cor-fundo-2);
    border-radius: 15px;
    box-shadow: inset -1px -1px 2px var(--sombra-vidro-card-clara),
                inset 1px 1px 2px var(--sombra-vidro-card-clara),
                inset 1px -1px 2px var(--sombra-vidro-card-escura),
                inset -1px 1px 2px var(--sombra-vidro-card-escura),
                var(--direcao-sombra-1) var(--direcao-sombra-1) 5px var(--sombra-card-clara),
                var(--direcao-sombra-2) var(--direcao-sombra-2) 5px var(--sombra-card);
    backdrop-filter: blur(var(--blur-card));
    -webkit-backdrop-filter: blur(var(--blur-card)); /* compatibilidade com Safari */
    transition: background-color var(--transicao-link) ease-in-out;
}

.mf {
    margin-left: 20vw;
    width: 80vw !important;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: 90vh;
    transition: var(--transicao-link);
}
.telaRotinas {
    display: flex;
    flex-direction: column;
    transition: var(--transicao-link) ease-in-out;
}

.telaLogin {
    margin: 50px 0 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.entrar {
    color: var(--cor-padrao) !important;
}

.inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    margin: 20px;
}
.inicioTitulo {
    margin-top: 25vh;
    font-size: 4em;
    justify-content: space-between;
}

.barraPesquisa {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 3px;
    border-radius: calc(var(--borda-botao) - 3px);
    height: 30px;
}

.inputComentario {
    color: var(--cor-texto);
    background: none;
    border: none;
    border-radius: 10px;
}
.cInputUsuario, .cInputSenha, .cInputCard, .hInputName, .hInputDate, .hInputPageSize, .mInputName {
    width: 100%;
    height: 80%;
    margin: 5px;
    color: var(--cor-texto);
    background: none;
    border: none;
    border-radius: var(--borda-botao);
    transition: var(--transicao-link) ease-in-out;
}
.cInputUsuario, .cInputSenha, .cInputCard, .hInputName, .hInputDate, .mInputName {
   padding: 0 0 0 10px; 
}
.cInputCard {
    width: 83px;
    padding: 0 10px;
}

.BotaoFechar {
    color: red !important;
    padding: 0 !important;
}
.MenuBotaoInterno {
    height: 27px;
    min-width: 27px;
}
.MenuBotaoTexto {
    padding: 0 10px;
}
.MenuBotao, .paginaHistorico button {
    max-height: 30px;
    min-height: 30px;
    min-width: 30px;
    max-width: 500px;
    opacity: 1;
}
.MenuBotao, .MenuBotaoInterno, .MenuBotaoActive, .paginaHistorico button {
    align-content: center;    
    text-align: center;
    align-items: center;
    justify-self: center;
    white-space: nowrap;
    position: relative;
    border: none;
    background: none;
    border: var(--borda-card) solid #00000000;
    border-radius: var(--borda-botao);
    margin: 0 3px;
    cursor: pointer;
    color: var(--cor-texto);
    font-size: var(--tamanho-texto-2);
    font-weight: bold;
    transition: var(--transicao-link) ease-in-out, color 1s ease-in-out;
}
.MenuBotao::after, .MenuBotaoInterno::after, .paginaHistorico button::after {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    content: "";
    position: absolute;
    z-index: 999;
    border: var(--borda-card) solid var(--cor-borda-vidro);
    border-radius: inherit;
    box-shadow: var(--direcao-sombra-1) var(--direcao-sombra-1) 9px var(--sombra-clara),
            var(--direcao-sombra-2) var(--direcao-sombra-2) 9px var(--sombra-escura),
            inset 0 0 1px var(--cor-borda-vidro),
            inset 0 0 1px var(--cor-borda-vidro),
            inset -1px -1px 2px var(--sombra-vidro-clara),
            inset 1px 1px 2px var(--sombra-vidro-clara),
            inset 1px -1px 2px var(--sombra-vidro-escura),
            inset -1px 1px 2px var(--sombra-vidro-escura),
            inset 4px 0 15px var(--animacao-opaca-bota-1),
            inset -4px 0 15px var(--animacao-opaca-bota-3),
            inset 0 -4px 15px var(--animacao-opaca-bota-2),
            inset 0 4px 15px var(--animacao-opaca-bota-4);
    transition: var(--transicao-link) ease-in-out;
}
.MenuBotao:hover::after, .MenuBotaoInterno:hover::after, .paginaHistorico button:hover::after {
    transform: translate(-50%, -50%) scale(1);
    padding: 0 3px;
    opacity: 1;
}
.MenuBotao:hover, .MenuBotaoInterno:hover, .paginaHistorico button:hover {
    margin: 0 7px;
}

.rectangleMaquinas:hover .botaoFechar,
.rectangleMaquinas:hover .botaoFixar,
.barraPesquisa:hover .botaoFechar, 
.rectangleMaquinas.nh .botaoFechar,
.rectangleMaquinas.nh .botaoFixar,
.barraPesquisa.nh .botaoFechar  {
    width: 14px;
    padding: 4px 5px 5px 5px;
    opacity: 1;
}
.barraPesquisa:hover .limparBarra {
    margin: 10px;
}

.MenuBotao.nh::after, .MenuBotaoInterno.nh::after, .paginaHistorico button.nh::after {
    background: None;
    backdrop-filter: None;
    border: var(--borda-card) solid #00000000;
    box-shadow: 0 0 0 #00000000,
                inset 0 0 0 #00000000;
}
@keyframes luzMenu {
    0% {
        box-shadow: 0 0 0 #00000000,
                    0 0 0 #00000000,
                    0 0 0 #00000000,
                    0 0 0 #00000000,
                    0 0 0 #00000000,
                    0 0 0 #00000000,
                    inset 0 0 0 #00000000,
                    inset 0 0 0 #00000000,
                    inset 0 0 0 #00000000,
                    inset 0 0 0 #00000000,
                    inset 0 0 0 #00000000,
                    inset 0 0 0 #00000000,
                    inset 0 0 0 #00000000,
                    inset 0 0 0 #00000000;
    }
    30% {
        box-shadow: var(--direcao-sombra-1) var(--direcao-sombra-1) 9px var(--sombra-clara),
                    var(--direcao-sombra-2) var(--direcao-sombra-2) 9px var(--sombra-escura),
                    4px 0 3px var(--animacao-opaca-bota-1),
                    -4px 0 3px var(--animacao-opaca-bota-3),
                    0 -4px 3px var(--animacao-opaca-bota-2),
                    0 4px 3px var(--animacao-opaca-bota-4),
                    inset -1px -1px 1px var(--sombra-vidro-clara),
                    inset 1px 1px 1px var(--sombra-vidro-clara),
                    inset 1px -1px 1px var(--sombra-vidro-escura),
                    inset -1px 1px 1px var(--sombra-vidro-escura),
                    inset 4px 0 15px var(--animacao-opaca-bota-1),
                    inset -4px 0 15px var(--animacao-opaca-bota-3),
                    inset 0 -4px 15px var(--animacao-opaca-bota-2),
                    inset 0 4px 15px var(--animacao-opaca-bota-4);
    }
    50% {
        box-shadow: var(--direcao-sombra-1) var(--direcao-sombra-1) 9px var(--sombra-clara),
                    var(--direcao-sombra-2) var(--direcao-sombra-2) 9px var(--sombra-escura),
                    4px 0 3px var(--animacao-opaca-bota-1),
                    -4px 0 3px var(--animacao-opaca-bota-3),
                    0 -4px 3px var(--animacao-opaca-bota-2),
                    0 4px 3px var(--animacao-opaca-bota-4),
                    inset -1px -1px 1px var(--sombra-vidro-clara),
                    inset 1px 1px 1px var(--sombra-vidro-clara),
                    inset 1px -1px 1px var(--sombra-vidro-escura),
                    inset -1px 1px 1px var(--sombra-vidro-escura),
                    inset 4px 0 25px var(--animacao-bota-1),
                    inset -4px 0 25px var(--animacao-bota-3),
                    inset 0 4px 35px var(--animacao-bota-4),
                    inset 0 -4px 35px var(--animacao-bota-2);
    }
    70% {
        box-shadow: var(--direcao-sombra-1) var(--direcao-sombra-1) 9px var(--sombra-clara),
                    var(--direcao-sombra-2) var(--direcao-sombra-2) 9px var(--sombra-escura),
                    4px 0 3px var(--animacao-opaca-bota-1),
                    -4px 0 3px var(--animacao-opaca-bota-3),
                    0 -4px 3px var(--animacao-opaca-bota-2),
                    0 4px 3px var(--animacao-opaca-bota-4),
                    inset -1px -1px 1px var(--sombra-vidro-clara),
                    inset 1px 1px 1px var(--sombra-vidro-clara),
                    inset 1px -1px 1px var(--sombra-vidro-escura),
                    inset -1px 1px 1px var(--sombra-vidro-escura),
                    inset 4px 0 15px var(--animacao-opaca-bota-1),
                    inset -4px 0 15px var(--animacao-opaca-bota-3),
                    inset 0 -4px 15px var(--animacao-opaca-bota-2),
                    inset 0 4px 15px var(--animacao-opaca-bota-4);
    }
    100% {
        box-shadow: 0 0 0 #00000000,
                    0 0 0 #00000000,
                    0 0 0 #00000000,
                    0 0 0 #00000000,
                    0 0 0 #00000000,
                    0 0 0 #00000000,
                    inset 0 0 0 #00000000,
                    inset 0 0 0 #00000000,
                    inset 0 0 0 #00000000,
                    inset 0 0 0 #00000000,
                    inset 0 0 0 #00000000,
                    inset 0 0 0 #00000000,
                    inset 0 0 0 #00000000,
                    inset 0 0 0 #00000000;
    }
}
button.clicked, 
.MenuBotao.clicked {
    animation: luzMenu 0.5s linear;
}
button.clicked::after,
.MenuBotao.clicked::after {
    padding: 0;
}

/*------------------------------------------------------------------------------------------------*/


.rodape {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    padding: 1rem;
    transition: var(--transicao-link) ease-in-out;
}
.rodapeConteudo {
    display: flex;
    gap: 0.3rem 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
}
.linkPadrao {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-destaque);
    transition: var(--transicao-link) ease-in-out;
    border-radius: var(--borda-botao);
    padding: 5px 7px;
}
.linkPadrao:hover {
    text-shadow: 4px 0 5px var(--animacao-opaca-bota-1),
                 4px 0 10px var(--animacao-bota-1),
                -4px 0 5px var(--animacao-opaca-bota-3),
                -4px 0 10px var(--animacao-bota-3),
                0 -4px 5px var(--animacao-opaca-bota-2),
                0 -4px 10px var(--animacao-bota-2),
                0 4px 5px var(--animacao-opaca-bota-4),
                0 4px 10px var(--animacao-bota-4);
}


@media (hover: none) {
    .MenuBotao:hover, .MenuBotaoInterno:hover, .MenuBotaoActive:hover, .paginaHistorico button:hover {
        background: None;
        margin: 3px;
        backdrop-filter: None;
        box-shadow: 0 0 0 #00000000,
                    inset 0 0 0 #00000000;
    }
}
@media (max-width: 916px) {
    .invisibleMobile {
        opacity: 0 !important;
        min-height: 0 !important;
        max-height: 0 !important;
    }
    .layout {
        min-height: 80vh;
    }
    .mbt {
        padding: 0 15px;
    }
    .rodape {
        margin-bottom: 100px;
    }
    .MenuBotao, .MenuBotaoActive, .paginaHistorico button {
        max-height: 47px;
        min-height: 47px;
        min-width: 47px;
    }
}  
@media (max-width: 1255px) {
    .invisible3 {
        height: 0 !important;
    }
}
@media (min-width: 2500px) {
    .layout {
        flex-direction: row;
        justify-content: space-between;
        width: fit-content;
    }
}
@media (min-width: 2500px) {
    .mf {
        margin-left: 10vw;
        width: 90vw !important;
    }
}
