.telaLateral {
    position: fixed;
    overflow: hidden;
    z-index: 1;
    opacity: 1;
    margin: 0;
    border-radius: 0;
    height: 100%;
    min-height: 0;
    transition: var(--transicao-link) ease-in-out,
                min-heigt 1s ease-in-out,
                background-color 1s ease-in-out,
                box-shadow 1s ease-in-out;
}
#telaMaquinas {
    left: 0;
    width: 20vw;
}
#telaDemandas {
    right: 0;
    width: 90vw;
}

.botaoItemMenuLateral {
    color: var(--cor-texto) !important;
}

.cabecalhoMenuLateral {
    display: flex;
    height: calc(6% - 40px);
    font-size: 1rem;
    padding: 20px;
}
.telaMaquinasContainerFundo, .telaDemandasContainerFundo {
    position: fixed;
    opacity: 1;
    overflow: scroll;
    overflow-x: hidden;
    height: 88vh;
    max-height: 88vh;
    min-height: 0;
    margin-top: 6vh;
    width: 100%;
    transition: var(--transicao-link) ease-in-out;
}
.telaMaquinasContainer, .telaDemandasContainer {
    display: flex;
}
.telaMaquinasContainer {
    flex-direction: column;
}
.telaDemandasContainer {
    flex-wrap: wrap;
}

.menuLateralMaquinas, .menuLateralDemandas {
    position: fixed;
    display: flex;
    flex-direction: row;
    margin: 5px 12px;
    align-items: center;
    transition: var(--transicao-link) ease-in-out;
}
.menuLateralDemandas {
    width: 30%;
}

.rectangleDemanda  {
    min-height: 150px;
    width: 30%;
}
.rectangleMaquina {
    min-height: 110px;
}
.rectangleDemanda, .rectangleMaquina {
    scale: 1;
    opacity: 1;
    margin: 10px 16px;
    border-radius: 10px;
    max-height: 300px;
    transition: var(--transicao-link) ease-in-out;
}
.rectangleDemanda:hover, .rectangleMaquina:hover {
    scale: var(--escala-item-lateral);
}
.rectangleDemanda.nh, .rectangleMaquina.nh {
    scale: 1;
}

.tituloContainerItemLateral {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
    border-radius: var(--borda-botao);
    align-items: center;
}
.menuItenLateral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    opacity: 1;
    transition: var(--transicao-link) ease-in-out, box-shadow 1s ease-in-out, background-color 1s ease-in-out;
}

.addMaquinaAtivada, .addDemandaAtivada {
    transform: rotate(-180deg);
}

/* barra de status */
.cStatusItemLateral {
    position: fixed;
    top: 1px;
    left: -10px;
    align-self: center;
    display: flex;
    width: 1px;
    height: 100%;
    margin: 5px 1.5px 0 1.5px;
    border-radius: 5px;
    background-color: var(--cor-item-lateral); 
    box-shadow: 50px 0 100px var(--cor-item-lateral),
                45px 0 90px var(--cor-item-lateral),
                40px 0 80px var(--cor-item-lateral),
                35px 0 70px var(--cor-item-lateral),
                30px 0 60px var(--cor-item-lateral),
                25px 0 50px var(--cor-item-lateral),
                20px 0 40px var(--cor-item-lateral),
                15px 0 30px var(--cor-item-lateral),
                10px 0 20px var(--cor-item-lateral),
                5px 0 10px var(--cor-item-lateral),
                0 0 5px var(--cor-item-lateral);
    transition: 1s ease-in-out;
}
.cStatusItemLateral.livre, .cStatusItemLateral.baixa  { 
    --cor-item-lateral: var(--cor-executando);
}
.cStatusItemLateral.ocupado, .cStatusItemLateral.media  { 
    --cor-item-lateral: var(--cor-ocioso);
}
.cStatusItemLateral.desativado, .cStatusItemLateral.alta  { 
    --cor-item-lateral: var(--cor-erro);
}

.subTituloItemLateral {
    font-weight: 600;
    white-space: nowrap;
    padding: 5px 5px 0;
}
.tituloItemLateral {
    font-weight: 600;
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.telaMensagemItemLateral {
    height: 100px;
}
.mediaTelaMensagemItemLateral {
    height: 80px;
}
.telaMensagemItemLateral, .miniTelaMensagemItemLateral, .mediaTelaMensagemItemLateral {
    width: 100%; 
    font-size: 0.7rem;
    padding: 0 5px;
    cursor: pointer;
    box-sizing: border-box;
    resize: none;          /* impede redimensionamento manual */
    overflow-y: auto;      /* ativa scroll vertical quando passar do max-height */
    word-wrap: break-word; /* quebra automática das palavras */
    transition: var(--transicao-link);
}

.modalConfirma {
    opacity: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    transition: opacity var(--transicao-link) ease-in-out;
}
.modalConfirmaContent {
    opacity: 1;
    position: fixed;
    padding: 20px;
    bottom: 50%;
    transition: opacity var(--transicao-link) ease-in-out;
}

@media (min-width: 1650px) {
    .menuLateralMaquinas, .menuLateralDemandas {
        min-height: 5%;
    }
    .telaLateral {
        width: 20vw;
    }
}
@media (min-width: 2500px) {
    .menuLateralMaquinas, .menuLateralDemandas {
        min-height: 5%;
    }
    .telaLateral {
        width: 10vw;
    }
}
@media (max-width: 916px) {
    .cabecalhoMenuLateral {
        height: 1%;
        opacity: 0;
        padding: 0;
    }
    .menuLateralMaquinas, .menuLateralDemandas {
        bottom: 140px;
    }
    .telaMaquinasContainerFundo, .telaDemandasContainerFundo {
        height: 77vh;
        margin-top: 0;
    }
    #fixarTelaMaquinas {
        opacity: 0;
        max-width: 0;
        max-height: 0;
        min-height: 0;
        max-width: 0;
        position: fixed;
        top: -1000px;
        cursor: default;
    }
    .telaLateral {
        width: 95vw;
        padding: 8px;
    }
    .menuLateralSuperExpandido {
        bottom: 1px !important;
        min-height: 95%;
        align-items: flex-start;
        transition: var(--transicao-link) ease-in-out;
    }
    .botaoItemMenuLateral {
        margin: 10px;
    }
}
@media (max-width: 1255px) and (min-width: 917px) {
    .telaLateral {
        width: 30vw;
    }
    .mfMaquinas {
        margin-left: 30vw;
    }
    .mfDemandas {
        margin-right: 30vw;
    }
    .mini {
        width: 70vw !important;
    }
    .extraMini {
        width: 40vw !important;
    }
}
@media (max-height: 930px) and (max-width: 916px) {
    .telaMaquinasContainerFundo, .telaDemandasContainerFundo {
        height: 75vh;
    }
}
@media (max-height: 830px) and (max-width: 916px) {
    .telaMaquinasContainerFundo, .telaDemandasContainerFundo {
        height: 70vh;
    }
}