.telaPainel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 30px 0;
    height: 250px;
    width: calc(100% - 60px);
    transition: var(--transicao-link) ease-in-out;
}
.telaPainel.collapsed {
    height: 0;
    opacity: 0;
}

.tituloRotinas {
    margin: 13px 16px 2px 16px;
}
/* barra de status */
.lrStatus {
    top: 1px;
    justify-self: center;
    height: 1px;
    width: 90%;
    border-radius: 5px;
    background-color: var(--cor-lista); 
    box-shadow: 0 10em 100px var(--cor-lista),
                0 9em 90px var(--cor-lista),
                0 8em 80px var(--cor-lista),
                0 7em 70px var(--cor-lista),
                0 5em 60px var(--cor-lista),
                0 4em 50px var(--cor-lista),
                0 3em 40px var(--cor-lista),
                0 2em 30px var(--cor-lista),
                0 1em 20px var(--cor-lista),
                0 0.5em 15px var(--cor-lista),
                0 0 5px var(--cor-lista);
    transition: 1s ease-in-out;
}
.lrStatus.final { 
    --cor-lista: var(--cor-final);
}
.lrStatus.executando { 
    --cor-lista: var(--cor-executando);
}
.lrStatus.dia { 
    --cor-lista: var(--cor-ocioso);
}
.lrStatus.atrazo { 
    --cor-lista: var(--cor-erro);
}
.telaListaRotinas {
    max-height: 200px !important;
    border-radius: calc(var(--borda-botao) - 2px) !important;
}

.listaRotinas1, 
.listaRotinas2, 
.listaRotinas3, 
.listaRotinas4 {
    width: calc(100vw / 5);
    margin-left: 5px;
    height: 100%;
    overflow: hidden;
}
.aD {
    border-radius: var(--borda-botao) 5px 5px var(--borda-botao);
}
.aE {
    border-radius: 5px var(--borda-botao) var(--borda-botao) 5px;
}
.aED {
    border-radius: 5px;
}

.linhaSimples {
    opacity: 1;
    border-radius: 13px;
    position: relative;
    padding: 5px;
    margin: 0 3px;
    min-height: 5px;
    transition: var(--transicao-link) ease-in-out;
}
.linhaSimples.vazio {
    opacity: 0;
    min-height: 0;
    padding: 0 5px;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.chartBox {
    width: calc((100vw / 5) - 50px);
    height: 100%;
    min-height: 250px;
    margin-right: 15px;
    position: relative;
    align-self: center;
}

.tituloChart {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: -9999;
}


@media (max-width: 916px) {
    .telaPainel {
        flex-direction: column;
        height: fit-content;
        padding: 30px;
        margin: 0;
    }
    .chartBox {
        width: 100%;
        margin: 10px 0;
    }
    .listaRotinas1, 
    .listaRotinas2, 
    .listaRotinas3, 
    .listaRotinas4 {
        width: 100%;
        margin: 2px 0;
    }
    .listaRotinas1.invisible5, 
    .listaRotinas2.invisible5, 
    .listaRotinas3.invisible5, 
    .listaRotinas4.invisible5 {
        height: 0;
    }
    .aD {
        border-radius: var(--borda-botao) var(--borda-botao) 5px 5px
    }
    .aE {
        border-radius:  5px 5px var(--borda-botao) var(--borda-botao)
    }
    .lrStatus {
        width: 96%;
    }
}

@media (min-width: 2500px) {
    .telaPainel {
        width: calc(100% / 3);
        flex-direction: column;
        height: calc(100vh - 60px);
    }
    .listaRotinas1, 
    .listaRotinas2, 
    .listaRotinas3, 
    .listaRotinas4 {
        width: 100%;
        margin: 10px 0;
    }
    .listaRotinas1.invisible5, 
    .listaRotinas2.invisible5, 
    .listaRotinas3.invisible5, 
    .listaRotinas4.invisible5 {
        height: 0;
    }
    .telaListaRotinas {
        max-height: 95px !important;
        margin: 5px 3px 3px;
    }
}
