.telaPainel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 30px 0;
    height: 40vh;
    width: calc(100% - 60px);
    transition: var(--transicao-link) ease-in-out;
}
.telaPainel.collapsed {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    z-index: -999;
}

.tituloRotinas {
    margin: 13px 16px;
}
/* barra de status */
.lrStatus {
    top: 1px;
    justify-self: center;
    height: 1px;
    width: 90%;
    border-radius: 5px;
    background-color: var(--cor-lista); 
    box-shadow: 0 50px 100px var(--cor-lista),
                0 45px 90px var(--cor-lista),
                0 40px 80px var(--cor-lista),
                0 35px 70px var(--cor-lista),
                0 30px 60px var(--cor-lista),
                0 25px 50px var(--cor-lista),
                0 20px 40px var(--cor-lista),
                0 15px 30px var(--cor-lista),
                0 10px 20px var(--cor-lista),
                0 5px 10px var(--cor-lista),
                0 0 5px var(--cor-lista);
    transition: 1s ease-in-out;
}
.lrStatus.final { 
    --cor-lista: var(--cor-final);
}
.lrStatus.executando { 
    --cor-lista: var(--cor-executando);
}
.lrStatus.dia { 
    --cor-lista: var(--cor-ocioso);
}
.lrStatus.atrazo { 
    --cor-lista: var(--cor-erro);
}
.telaListaRotinas {
    max-height: calc(40vh - 62px) !important;
}
.listasRotinas {
    display: flex;
    flex-direction: row;
    height: 100%;
    transition: var(--transicao-link) ease-in-out;
}
.listaRotinas {
    width: calc(100vw / 5);
    margin-left: 5px;
    height: 100%;
}
.linhaSimples {
    opacity: 1;
    border-radius: 13px;
    position: relative;
    padding: 5px;
    margin: 0 3px;
    min-height: 5px;
    transition: var(--transicao-link) ease-in-out;
}
.linhaSimples.vazio {
    opacity: 0;
    min-height: 0;
    padding: 0 5px;
    margin: 0;
}

.chartBox {
    width: calc((100vw / 5) - 35px);
    height: auto;
    margin-right: 15px;
}
.chartBox, .listasRotinas {
    position: relative;
    align-self: center;
}

.tituloChart {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}


@media (max-width: 916px) {
    .telaPainel {
        flex-direction: column;
        height: fit-content;
        padding: 30px;
    }
    .chartBox {
        width: 100%;
        margin: 10px 0;
    }
    .listaRotinas {
        width: 100%;
        margin: 10px 0;
    }
    .listaRotinas.invisible5 {
        height: 0;
    }
}

@media (min-width: 2500px) {
    .telaPainel {
        width: calc(100% / 3);
        flex-direction: column;
        height: calc(100vh - 60px);
    }
    .listaRotinas {
        width: 100%;
        margin: 10px 0;
    }
    .listaRotinas.invisible5 {
        height: 0;
    }
    .telaListaRotinas {
        max-height: 95px !important;
        margin: 5px 3px 3px;
    }
}
