@keyframes piscar {
    0%, 100% {
        box-shadow: inset 0 0 130px var(--cor-principal),
                    0 0 25px var(--cor-principal);
        border: var(--borda-card) solid var(--cor-principal);
    }
    50% {
        box-shadow: inset 0 0 20px var(--cor-opaca),
                    0 0 10px var(--cor-opaca);
        border: var(--borda-card) solid var(--cor-opaca);
    }
}
@keyframes cardEncontrado {
    0% {
        box-shadow: inset 0 0 20px var(--cor-opaca),
                    0 0 10px var(--cor-opaca);
        border: var(--borda-card) solid var(--cor-opaca);
    }
    100% {
        box-shadow: inset 0 0 150px var(--cor-principal),
                    0 0 30px var(--cor-principal);
        border: 5px solid white;
    }
}

/* Estilos específicos para cada status */
.status-executando, .status-attention {
    --cor-primaria: #006345;
    --cor-secundaria: #004557;
    --cor-opaca: #00694a;
    --cor-loading-1: #00ffb350;
    --cor-loading-2: #00ffff93;
    --cor-principal: var(--cor-executando);
    --cor-alerta: var(--cor-opaca);
    --animacao: none;
}
.status-attention {
    --animacao: piscar 5s infinite;
}
.status-warning {
    --cor-primaria: #9c5e00;
    --cor-secundaria: #b94502;
    --cor-opaca: #9c5900;
    --cor-loading-1: #ffae008e;
    --cor-loading-2: #ffd000c5;
    --cor-principal: var(--cor-ocioso);
    --cor-alerta: var(--cor-ocioso);
    --animacao: piscar 3s infinite;
}
.status-error {
    --cor-primaria: #810101fb;
    --cor-secundaria: #a719a7;
    --cor-opaca: #790000;
    --cor-loading-1: #ff000077;
    --cor-loading-2: #ff009dc0;
    --cor-principal: var(--cor-erro);
    --cor-alerta: var(--cor-erro);
    --animacao: piscar 1.5s infinite;
}
.status-final {
    --cor-primaria: #00798ffd;
    --cor-secundaria: #682dc7;
    --cor-opaca: #004e81;
    --cor-principal: var(--cor-final);
    --cor-alerta: var(--cor-final);
    --animacao: piscar 8s infinite;
}

/* Estilos genéricos para todos os status */
.status {
    box-shadow: inset 0 0 20px var(--cor-opaca),
                0 0 10px var(--cor-opaca);
    border: var(--borda-card) solid var(--cor-opaca);
    background: linear-gradient(50deg, var(--cor-primaria), var(--cor-secundaria));
    animation: var(--animacao);
}
.status .alerta {
    color: var(--cor-alerta);
    text-shadow: 0 0 15px var(--cor-alerta);
}
.status:hover {
    --cor-fundo-2: #2525252d;
    box-shadow: inset 0 0 150px var(--cor-principal),
                0 0 30px var(--cor-principal);
    border: var(--borda-card) solid var(--cor-principal);
    animation: none;
}
.status:focus, .status:active {
    --cor-fundo-2: #a8a8a82d;
    box-shadow: inset 0 0 20px var(--cor-opaca),
            0 0 10px var(--cor-opaca);
    border: var(--borda-card) solid var(--cor-opaca);
    background: linear-gradient(50deg, var(--cor-primaria), var(--cor-secundaria));
    animation: var(--animacao);
}

.status:hover .alerta {
    color: var(--cor-principal);
    text-shadow: 0 0 25px var(--cor-principal);
}
.status:active .alerta, .status:focus .alerta {
    color: var(--cor-alerta);
    text-shadow: 0 0 15px var(--cor-alerta);
}

.buscaCard {
    animation: cardEncontrado 0.2s linear;
    box-shadow: inset 0 0 150px var(--cor-principal),
                    0 0 30px var(--cor-principal);
    border: 5px solid white;
}
.naoEncontrado {
    color: red;
    font-weight: bold;
}


@media (hover: none) {
    .status:hover {
        --cor-fundo-2: #a8a8a82d;
        box-shadow: inset 0 0 20px var(--cor-opaca),
                0 0 10px var(--cor-opaca);
        border: var(--borda-card) solid var(--cor-opaca);
        background: linear-gradient(50deg, var(--cor-primaria), var(--cor-secundaria));
        animation: var(--animacao);
    }
    .status:hover .alerta {
        color: var(--cor-alerta);
        text-shadow: 0 0 15px var(--cor-alerta);
    }
}