@keyframes piscar {
    0%, 100% {
        box-shadow: inset 0 0 130px var(--cor-principal),
                    0 0 25px var(--cor-principal);
        border: var(--borda-card) solid var(--cor-principal);
    }
    50% {
        box-shadow: inset 0 0 15px var(--cor-principal-alternativa),
                    0 0 10px var(--cor-principal-alternativa);
        border: var(--borda-card) solid var(--cor-principal-alternativa);
    }
}
@keyframes cardEncontrado {
    0% {
        box-shadow: inset 0 0 20px var(--cor-opaca),
                    0 0 10px var(--cor-opaca);
        border: var(--borda-card) solid var(--cor-opaca);
    }
    100% {
        box-shadow: inset 0 0 150px var(--cor-principal),
                    0 0 30px var(--cor-principal);
        border: 5px solid white;
    }
}

/* Estilos específicos para cada status */
.status-executando {
    --cor-primaria: #006345;
    --cor-secundaria: #004557;
    --cor-opaca: #00694a;
    --cor-loading-1: #00ffb350;
    --cor-loading-2: #00aeff50;
    --cor-principal: var(--cor-executando);
    --cor-alerta: var(--cor-opaca);
}
.status-warning {
    --cor-primaria: #9c5e00;
    --cor-secundaria: #b94502;
    --cor-opaca: #9c5900;
    --cor-loading-1: #ffe60063;
    --cor-loading-2: #ffe60063;
    --cor-principal: var(--cor-ocioso);
    --cor-principal-alternativa: var(--cor-ocioso-alternativa);
    --cor-alerta: var(--cor-ocioso);
    animation: piscar 3s infinite;
}
.status-error {
    --cor-primaria: #810101fb;
    --cor-secundaria: #a719a7;
    --cor-opaca: #790000;
    --cor-loading-1: #ff000063;
    --cor-loading-2: #ff000063;
    --cor-principal: var(--cor-erro);
    --cor-principal-alternativa: var(--cor-erro-alternativa);
    --cor-alerta: var(--cor-erro);
    animation: piscar 1.5s infinite;
}
.status-final {
    --cor-primaria: #00798ffd;
    --cor-secundaria: #682dc7;
    --cor-opaca: #004e81;
    --cor-principal: var(--cor-final);
    --cor-principal-alternativa: var(--cor-final-alternativa);
    --cor-alerta: var(--cor-final);
    animation: piscar 8s infinite;
}

/* Estilos genéricos para todos os status */
.status {
    box-shadow: inset 0 0 20px var(--cor-opaca),
                0 0 10px var(--cor-opaca);
    border: var(--borda-card) solid var(--cor-opaca);
    background: linear-gradient(50deg, var(--cor-primaria), var(--cor-secundaria));
}
.status .alerta {
    color: var(--cor-alerta);
    text-shadow: 0 0 15px var(--cor-alerta);
}
.status:hover {
    --cor-fundo-2: #2525252d;
    box-shadow: inset 0 0 150px var(--cor-principal),
                0 0 30px var(--cor-principal);
    border: var(--borda-card) solid var(--cor-principal);
    animation: none;
}
.status:hover .alerta {
    color: var(--cor-principal);
    text-shadow: 0 0 25px var(--cor-principal);
}

.buscaCard {
    animation: cardEncontrado 0.2s linear;
    box-shadow: inset 0 0 150px var(--cor-principal),
                    0 0 30px var(--cor-principal);
    border: 5px solid white;
}
.naoEncontrado {
    color: red;
    font-weight: bold;
}


@media (max-width: 800px){
    .status:hover {
        box-shadow: inset 0 0 20px var(--cor-opaca),
                    0 0 10px var(--cor-opaca);
        border: var(--borda-card) solid var(--cor-opaca);
        background: linear-gradient(50deg, var(--cor-primaria), var(--cor-secundaria));
    }

    .status:hover .alerta {
        color: var(--cor-alerta);
        text-shadow: 0 0 15px var(--cor-alerta);
    }
}