
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --cor-vidro: #9797970e;
    --cor-texto-dark: #000000;
    --cor-texto-light: #ffffff;
    --cor-destaque: #ff0040;
    --tamanho-titulo: 2.4rem;
    --tamanho-texto: 1.4rem;
    --tamanho-texto-2: 1rem;
    --transicao-link: 0.3s;
    --cor-executando: #00a323;
    --cor-erro: #fc0000;
    --cor-ocioso: #fc9700;
    --blur: 5px;
}


/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
}
::-webkit-scrollbar-track {
    background: transparent; /* Cor do fundo da barra de rolagem */
}
::-webkit-scrollbar-thumb {
    background-color: #757575; /* Cor da barra de rolagem */
    border-radius: 6px; /* Arredondamento das bordas */
    border: none; /* Espaçamento entre a barra e o conteúdo */
    transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #757575; /* Cor da barra de rolagem ao passar o mouse */
}


body {
    opacity: 0;
    transition: opacity 1s;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
}


.dark {
    background-color: #000000;
    transition: background-color 0.5s;
    color: var(--cor-texto-light);
}

.light {
    background-color: #ffffff;
    transition: background-color 0.5s;
    color: var(--cor-texto-dark);
}


.bg {
    animation:slide 20s ease-in-out infinite alternate;
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bgDark {
    background-image: linear-gradient(-60deg,  #1f1f1f 50%, #111111 50%);
}

.bgLight {
    background-image: linear-gradient(-60deg,  #dbdbdb 50%, #f1f1f1 50%);
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:22s;
}

.bg3 {
    animation-duration:24s;
}

@keyframes slide {
    0% {
    transform:translateX(-25%);
    }
    100% {
    transform:translateX(25%);
    }
}

.fadeOut {
    opacity: 0;
}
  
.fadeIn {
    opacity: 1;
}

.invisible {
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: none;
    visibility: hidden;
}

.fundo {
    background: var(--cor-vidro);
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.178);
    backdrop-filter: blur(var(--blur));
}


/*------------------------------------------------------------------------------------------------*/


#toggleDarkMode { 
    border: none;
    background: none;
    cursor: pointer;
    transition: var(--transicao-link);
}
#toggleDarkMode:hover {
    text-shadow: 0 0 20px var(--cor-destaque);
}


/*------------------------------------------------------------------------------------------------*/


.layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*------------------------------------------------------------------------------------------------*/


.cabecalho {
    display: flex;
    justify-content: center;
}
.cabecalho_menu {
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 15px 25px;
    margin: 15px;
    font-size: 0.9em;
    gap: 40px;
}
.cabecalho__menu__botao {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--cor-texto);
    font-size: var(--tamanho-texto-2);
    font-weight: bold;
    transition: var(--transicao-link);
}
.cabecalho__menu__botao:hover {
    text-shadow: 0 0 20px var(--cor-destaque);
}
#clock {
    align-self: center;
}


/*------------------------------------------------------------------------------------------------*/


.rotinas {
    padding: 115px 50px 90px 50px;
    display: flex;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}
.rectangle {
    cursor: pointer;
    overflow: hidden; /* Para garantir que o conteúdo escondido não apareça */
    border-bottom: 0;
    padding: 25px;
    margin: 25px;
    width: auto;
    height: 82px;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.3s, box-shadow 0.5s, opacity 0.5s ease, height 0.5s ease, padding 0.5s ease, margin 0.5s ease;
}
.rectangle.enter {
    opacity: 1;
    transform: scale(1);
}
.status-executando {
    box-shadow: 0 0 20px var(--cor-executando);
}
.status-executando:hover {
    box-shadow: 0 0 60px var(--cor-executando);
}
.status-warning {
    box-shadow: 0 0 20px var(--cor-ocioso);
}
.status-warning:hover {
    box-shadow: 0 0 60px var(--cor-ocioso);
}
.status-error {
    box-shadow: 0 0 20px var(--cor-erro);
}
.status-error:hover {
    box-shadow: 0 0 60px var(--cor-erro);
}
.title {
    font-size: 1em;
    margin-bottom: 10px;
}
.content {
    font-size: 0.8em;
    padding: 4px;
}
.rectangle.collapsed {
    height: 15px; /* Altura desejada quando colapsado */
}
.rectangle .content {
transition: opacity 0.5s ease; /* Transição para a opacidade das divs filhas */
}
.rectangle.collapsed .content {
opacity: 0; /* Torna as divs filhas invisíveis quando a div mãe está colapsada */
}


/*------------------------------------------------------------------------------------------------*/


.telaHistorico {
    max-height: 500px; /* Defina a altura máxima desejada */
    overflow-y: auto; /* Adiciona o scroll vertical */
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 50px;
    font-size: 0.8em;
    transition: opacity 0.5s ease, height 0.5s ease, padding 0.5s ease;
}
.linha{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Três colunas iguais */
    padding: 2% 1%;
    gap: 10rem;
    border-bottom: 2px solid #97979756;
    padding-bottom: 5px; 
}
.ociosa {
    color: var(--cor-ocioso);
    font-weight: bold;
}
.erro {
    color: var(--cor-erro);
    font-weight: bold;
}
.executando {
    color: var(--cor-executando);
    font-weight: bold;
}


/*------------------------------------------------------------------------------------------------*/


.rodape {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    padding: 0.5% 3%;
    margin: 2%;
}
.link__padrao {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-destaque);
    transition: var(--transicao-link);
}
.link__padrao:hover {
    text-shadow: 0 0 20px var(--cor-destaque);
}

@media (max-width: 720px) {
    #clock {
        font-size: 0;
    }
    .cabecalho_menu {
        gap: 15px;
    }
    .rotinas {
        padding: 125px 5px 90px 5px;
    }
    .telaHistorico {
        font-size: 0.5em;
    }
    .linha{
        gap: 0.2rem;
    }
}

@media (max-width: 1440px) {
    .cabecalho_menu {
        font-size: 0.8em;
    }
    .rotinas {
        padding: 125px 30px 90px 30px;
    }
    .linha{
        gap: 3rem;
    }
}

@media (max-width: 2500px) {
    .layout {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}