
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

:root {
    --cor-vidro: #9797970e;
    --cor-texto-dark: #000000;
    --cor-texto-light: #ffffff;
    --cor-destaque: #ff0040;
    --tamanho-titulo: 2.4rem;
    --tamanho-texto: 1.4rem;
    --tamanho-texto-2: 1rem;
    --transicao-link: 0.4s;
    --cor-executando: #00a372;
    --cor-erro: #fc0000;
    --cor-ocioso: #fc8f00;
    --cor-final: #00c1fc;
    --blur: 4px;
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 6px; /* Largura da barra de rolagem */
}
::-webkit-scrollbar-track {
    background: transparent; /* Cor do fundo da barra de rolagem */
}
::-webkit-scrollbar-thumb {
    background-color: #757575; /* Cor da barra de rolagem */
    border-radius: 6px; /* Arredondamento das bordas */
    border: none; /* Espaçamento entre a barra e o conteúdo */
    transition: var(--transicao-link);
}
::-webkit-scrollbar-thumb:hover {
    background-color: #757575; /* Cor da barra de rolagem ao passar o mouse */
}

body {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 300;
}

.dark {
    background-color: #000000;
    transition: var(--transicao-link);
    color: var(--cor-texto-light);
}
.light {
    background-color: #ffffff;
    transition: var(--transicao-link);
    color: var(--cor-texto-dark);
}

.bg {
    animation:slide 20s ease-in-out infinite alternate;
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
.bgDark {
    background-image: linear-gradient(-60deg,  #1f1f1f 50%, #111111 50%);
}
.bgLight {
    background-image: linear-gradient(-60deg,  #dbdbdb 50%, #f1f1f1 50%);
}
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:22s;
}
.bg3 {
    animation-duration:24s;
}
@keyframes slide {
    0% {
    transform:translateX(-25%);
    }
    100% {
    transform:translateX(25%);
    }
}

.invisible {
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    padding-bottom: 0;
    margin: 0;
    scale: 0;
    gap: 0;
    border: none;
    border-bottom: none;
    visibility: hidden;
    position: fixed;
}

.fundo {
    background: linear-gradient(-50deg, #c0c0c017, var(--cor-vidro), #c0c0c017);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.178);
    backdrop-filter: blur(var(--blur));
}


/*------------------------------------------------------------------------------------------------*/


#toggleDarkMode { 
    border: none;
    background: none;
    cursor: pointer;
    transition: var(--transicao-link);
}
#toggleDarkMode img{
    width: 14px;
    height: auto;
}
#toggleDarkMode:hover {
    scale: 1.2;
}


/*------------------------------------------------------------------------------------------------*/


.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*------------------------------------------------------------------------------------------------*/


.cabecalho {
    display: flex;
    justify-content: center;
}
.cabecalho_menu {
    z-index: 1;
    position: fixed;
}
.menu {
    display: flex;
    justify-content: center;
    padding: 15px 25px;
    font-size: 0.9em;
    gap: 10px;
}
.cabecalho__menu__botao {
    position: relative;
    align-self: center;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--cor-texto);
    font-size: var(--tamanho-texto-2);
    font-weight: bold;
    transition: var(--transicao-link);
}
.cabecalho__menu__botao:hover {
    text-shadow: 0 0 5px var(--cor-destaque);
    color: var(--cor-destaque);
}
#clock {
    align-self: center;
}
.relogio {
    scale: 1;
}
.notifica {
    align-self: center;
}
.bolinhaErro, .bolinhaOcioso, .bolinhaFinal{
    position: absolute; /* Posiciona a bolinha de forma absoluta em relação ao botão */
    width: 5px; /* Ajuste o tamanho da bolinha conforme necessário */
    height: 5px; /* Ajuste o tamanho da bolinha conforme necessário */
    border-radius: 50%; /* Torna a bolinha circular */
    transition: var(--transicao-link);
}
.bolinhaErro {
    background-color: var(--cor-erro); /* Cor da bolinha */
    top: 0; /* Alinha a bolinha ao topo do botão */
    right: 0; /* Alinha a bolinha à direita do botão */
}
.bolinhaOcioso {
    background-color: var(--cor-ocioso); /* Cor da bolinha */
    bottom: 0; /* Alinha a bolinha ao topo do botão */
    right: 0; /* Alinha a bolinha à direita do botão */
}
.bolinhaFinal {
    background-color: var(--cor-final); /* Cor da bolinha */
    top: 0; /* Alinha a bolinha ao topo do botão */
    left: 0; /* Alinha a bolinha à direita do botão */
}

/*------------------------------------------------------------------------------------------------*/


.rotinas {
    padding: 115px 50px 90px 50px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100%;
    flex-wrap: wrap;
}
.rectangle {
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    opacity: 0;
    scale: 0;
    transition: var(--transicao-link);
}
.rectangle.enter {
    width: fit-content;
    height: fit-content;
    padding: 12px;
    margin: 25px;
    opacity: 1;
    scale: 1;
}
.rectangle.out {
    height: 0; /* Altura desejada quando colapsado */
    font-size: 0;
    scale: 0;
}

.status-executando {
    background: linear-gradient(50deg, #3da0772a, var(--cor-vidro), #3da0772a);
    box-shadow: 0 0 5px var(--cor-executando);
}
.status-executando:hover {
    background: linear-gradient(-50deg, #3da0775b, var(--cor-vidro), #3da0775b);
    box-shadow: 0 0 30px var(--cor-executando);
}

.status-warning {
    background: linear-gradient(50deg, #a0963d25, var(--cor-vidro), #a0963d25);
    box-shadow: 0 0 5px var(--cor-ocioso);
}
.status-warning:hover {
    background: linear-gradient(-50deg, #a06d0050, var(--cor-vidro), #a06d0050);
    box-shadow: 0 0 30px var(--cor-ocioso);
}

.status-error {
    background: linear-gradient(50deg, #a03d4227, var(--cor-vidro), #a03d4227);
    box-shadow: 0 0 5px var(--cor-erro);
}
.status-error:hover {
    background: linear-gradient(-50deg, #a03d425e, var(--cor-vidro), #a03d425e);
    box-shadow: 0 0 30px var(--cor-erro);
}

.status-final {
    background: linear-gradient(50deg, #3d89a036, var(--cor-vidro), #3d89a036);
    box-shadow: 0 0 10px var(--cor-final);
}
.status-final:hover {
    background: linear-gradient(-50deg, #3d89a04f, var(--cor-vidro), #3d89a04f);
    box-shadow: 0 0 30px var(--cor-final);
}
.botaoFechar {
    width: fit-content;
    color: var(--cor-final);
    text-shadow: none;
    transition: var(--transicao-link);
}
.botaoFechar:hover {
    text-shadow: 0 0 5px var(--cor-final);
}

.rectangle .title {
    font-size: 1em;
    padding-bottom: 6px;
}
.content {
    font-size: 0.8em;
    padding: 4px;
}
.rectangle.collapsed {
    padding: 10px;
    margin: 10px;
    font-size: 0;
}
.rectangle.collapsed:hover {
    transform: scale(1.2);
}
.rectangle.collapsed .content {
    opacity: 0; /* Torna as divs filhas invisíveis quando a div mãe está colapsada */
}


/*------------------------------------------------------------------------------------------------*/


.filtroHistorico{
    padding: 0 30px;
    margin: 35px 65px 5px 65px;
    display: flex;
    justify-items: center;
    flex-direction: row;
    gap: 10px;
    transition: var(--transicao-link);
}
.filtroGeral, .filtroErro, .filtroOcioso, .filtroFinal{
    cursor: pointer;
    font-size: larger;
    transition: var(--transicao-link);
}
.filtroErro {
    color: var(--cor-erro); /* Cor da bolinha */
}
.filtroOcioso {
    color: var(--cor-ocioso); /* Cor da bolinha */
}
.filtroFinal {
    color: var(--cor-final); /* Cor da bolinha */
}
.filtroGeral:hover, .filtroErro:hover, .filtroOcioso:hover, .filtroFinal:hover {
    scale: 1.5;
}
.telaHistorico {
    width: 90%;
    max-height: 500px; /* Defina a altura máxima desejada */
    overflow: auto; /* Adiciona o scroll vertical */
    display: flex;
    align-self: center;
    flex-direction: column;
    padding: 25px;
    margin: 5px 50px 50px 50px;
    font-size: 0.8em;
    transition: var(--transicao-link);
}
.linha{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Três colunas iguais */
    padding: 2% 1%;
    gap: 10rem;
    border-bottom: 2px solid #97979756;
    padding-bottom: 5px; 
    transition: var(--transicao-link);
}
.iniciada {
    color: var(--cor-texto);
}
.ociosa {
    color: var(--cor-ocioso);
    font-weight: bold;
}
.erro {
    color: var(--cor-erro);
    font-weight: bold;
}
.finalizada {
    color: var(--cor-final);
    font-weight: bold;
}
.telaHistorico.collapsed {
    width: 0%;
    opacity: 0;
    max-height: 0px; /* Altura desejada quando colapsado */
    padding: 0px;
    margin: 0px;
}


/*------------------------------------------------------------------------------------------------*/


.rodape {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    padding: 0.5% 3%;
    margin: 2%;
}
.rodapeConteudo {
    display: flex;
    gap: 0.3rem 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
}
.link__padrao {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor-destaque);
    transition: var(--transicao-link);
}
.link__padrao:hover {
    text-shadow: 0 0 20px var(--cor-destaque);
}

@media (max-width: 720px) {
    .fundo {
        border-radius: 25px;
    }
    .menu {
        gap: 5px;
    }
    #clock {
        font-size: 0;
    }
    .relogio {
        scale: 0;
        padding: 0;
        margin: 0;
        width: 0;
        height: 0;
    }
    .rotinas {
        padding: 125px 0 90px 0;
    }
    .rectangle.collapsed {
        padding: 10px;
    }
    .telaHistorico {
        width: 85%;
        max-height: 600px; /* Defina a altura máxima desejada */
    }
    .filtroHistorico{
        padding: 0 30px;
        margin: 10px 65px 5px 65px;
        gap: 25px;
    }
    .filtroGeral, .filtroErro, .filtroOcioso, .filtroFinal{
        font-size: x-large;
    }
    .linha{
        gap: 0.2rem;
    }
    .rodape{
        scale: 0.8;
    }
    body:focus {
        outline: none;
        border-color: 2px solid var(--cor-destaque);
    }
}

@media (max-width: 1440px) {
    .cabecalho_menu {
        font-size: 0.8em;
    }
    .rotinas {
        padding: 125px 5px 90px 5px;
    }
    .linha{
        gap: 3rem;
    }
    .telaHistorico {
        font-size: 0.5em;
    }
}

@media (min-width: 2500px) {
    .telaHistorico {
        width: 45%;
        margin: 115px 50px;
    }
    .layout {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}